.doc-intro {
  width: 100%;
  top: 0;
  margin-top: 0em;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #990000; }
  .doc-intro h1 {
      text-align: center;
      color: white;
      font-size: 70px;
  }

  .doc-intro h2, .doc-intro h5, .doc-intro h6 .doc-intro h3 {
    width: 50%;
    margin-left: 25%;
    color: white;
    opacity: 1; }
  .doc-intro h5, .doc-intro h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin-top: 0em; }

@media (max-width: 767px) {
  .doc-intro h1, .doc-intro h2, .doc-intro h5, .doc-intro h5 {
    width: 85%;
    margin-left: 7.5%; } }


iframe {
width: 70%;
margin-left: 15%;

}

figcaption {
  width: 70%;
  margin-left:15%;
}

a {
  color: #990000  ;
}

a:visited {

  color: #990000;

}

.logo {
  color: #990000;


}

.social li {
  margin-right: 25px;
  size: 30px;

}

.twitter-tweet {
width: 50;
margin-left: 25%;

}