/* Header | Navbar, Headline, Subhead, Bylines */


	.header {
		color: white;
		height: 100vh;
		background-size: cover;
		background-color: black;
		padding-bottom: 15px;
		background-position: center;
		display: flex;
  		display: -webkit-flex;
  		display: flex;
  		-webkit-align-items: center;
  		align-items: center;
  		-webkit-justify-content: center;
  		justify-content: center;
}

	.header-secondary {
		color: white;
		height: 75vh;
		background-size: cover;
		padding-bottom: 15px;
		background-position: center;
	}
	@media (min-width: 768px) {
		.transparentnavbar {
			background-color: transparent !important;
			border-color:transparent;
			background-image:none;
			box-shadow:none;
			-webkit-transition: background .5s; /* For Safari 3.1 to 6.0 */
		  	transition: background .5s;
		}
	}
	@media (max-width: 320px) {
		.hideSmall {
			display: none;
		}
	}

	@media (max-width: 767px) {
		.transparentnavbar {
			background-color: black !important;
			border-color:transparent;
			background-image:none;
			box-shadow:none;
			-webkit-transition: background .5s; /* For Safari 3.1 to 6.0 */
		  	transition: background .5s;
		}
	}

	.dropdown-toggle::after {
	    display:none;
	}

	.blackbg {
		background-color: black !important;
		border-color:transparent;
		background-image:none;
		box-shadow:none;
	}

	.nav-link {
		color: white !important;
		font-size: 16px;
		font-family: 'Inter', sans-serif;
	}

	.navbar-toggler {
		border: none !important;
	}

	.hithere {
		font-size: 20px;
		color: white;
		margin-bottom: 0;
		font-family: 'Inter', sans-serif;
	}

	.title {
		text-align: center;
	}

	@media (min-width: 768px) {
		.headline {
			font-size: 6.5vw;
			font-family: 'Playfair Display', 'PT Serif', serif;
			font-weight: 400;
			font-style: normal;
			color: white;
			margin-top:;
			padding: 16px;
			text-align: left;
			padding-left: 75px;
			-webkit-text-shadow:0 0 30px rgba(0, 0, 0, 0.5);
			-moz-text-shadow:0 0 30px rgba(0, 0, 0, 0.5);
			text-shadow:0 0 30px rgba(0, 0, 0, 0.5);

		}
		.subheadline {
			font-size: 2vw;
			line-height: 35px;
			font-family: 'Playfair Display', 'PT Serif', serif;
			font-style: white;
			font-weight: 500;
			padding: 16px;
			text-align: left;
			padding-left: 75px;
			-webkit-text-shadow:0 0 30px rgba(0, 0, 0, 0.5);
			-moz-text-shadow:0 0 30px rgba(0, 0, 0, 0.5);
			text-shadow:0 0 30px rgba(0, 0, 0, 0.5);
		}

		.topPad {
			padding-left: 30px; padding-right: 30px
		}
	}

	p {
		font-family: 'PT Serif', serif;
		font-weight: 400;
		font-style: normal;
		font-size: 18px;
	}

	span.lead {
		font-family: 'PT Serif', serif;
font-weight: 700;
font-style: normal;
		font-size: 18px;
	}

	.story-top {
		padding-bottom: 10%;
		padding-top: 10%;
	}

.dropCap {
  float: left;
  line-height: 85%;
  width: .6em;
  font-size: 400%;
  font-family: 'Playfair Display', 'PT Serif', serif;

}

	@media (max-width: 767px) {
		.headline {
			font-size: 8vw;
			font-family: 'Playfair Display', 'PT Serif', serif;
			font-weight: 400;
			font-style: normal;
			color: white;
			padding-left: 32px;
			padding-right: 32px;
			-webkit-text-shadow:0 0 30px rgba(0, 0, 0, 0.5);
			-moz-text-shadow:0 0 30px rgba(0, 0, 0, 0.5);
			text-shadow:0 0 30px rgba(0, 0, 0, 0.5);
		}

		.subheadline {
			font-size: 20px;
			font-family: 'Playfair Display', 'PT Serif', serif;
			font-weight: 400;
			text-align: left;
			padding-left: 32px;
			padding-right: 32px;
		}
		.story-top {
			background-color: white;
			padding-top: 20px;
			
			font-family: 'PT Serif', serif;
		}

		.topPad {
			padding-left: 0px; padding-right: 0px; 
		}
	}

	.bylines {
		padding-bottom: 15px;
		font-family: 'Inter','Lato', system-ui, sans-serif;
		font-style: normal;
		padding-bottom: 
	}

	.byline {
		margin-bottom: -5px;
		font-family: 'Inter','Lato', system-ui, sans-serif;
		font-size: 14px;
	}

	.subline {
		margin-top: 0;
		font-family: 'Inter','Lato', system-ui, sans-serif;
		font-size: 12px;
		margin-bottom: 4px;
	}

	.nav-before {
		color: transparent;
		padding-left: 10px;
		font-size: 16px;
		font-family: 'Inter','Lato', system-ui, sans-serif;
		transition: 0.2s;
	}

	.nav-title {
		color: white;
		padding-left: 15px;
		font-size: 16px;
		font-family: 'Inter','Lato', system-ui, sans-serif;
	}

	.byline-link {
		color: black;
		transition: .2s;
	}

	.byline-link:hover {
		color: #EDEBEB;
		text-decoration: none;
	}

/* Body | Body copy, Images, Components */

	.first-sentence {
		font-family: 'PT Serif', serif;
		font-size: 22px;
		padding-bottom: 15px;
		font-weight: 700;
		font-style: cond;
	}

	.body {
		padding-top: 30px;
		padding-bottom: 15px;
	}

	a.story-link {
		text-decoration: none;
		color: black !important;
		border-bottom: 2px solid black;
		transition: .2s;
	}

	a.story-link:hover {
		text-decoration: none;
		color: black !important;
		border-bottom: 2px solid #EDEBEB;
	}

	.story {
		font-family: 'PT Serif', serif;
		text-align: left;
		font-size: 16px;
		line-height: 26px;
	}

	.caption {
		margin-top: -2px;
		font-size: 14px;
		font-family: sans-serif;
		line-height: 20px;
		font-family: 'Inter', system-ui, sans-serif;
	}

	.credit {
		padding-top: px;
		font-size: 12px;
		font-family: sans-serif;
		text-align: right;
		margin-bottom: -6px;
		padding-bottom: 0;
		margin-top: ;
		text-transform: uppercase;
		font-family: 'Inter', system-ui, sans-serif;
	}

	.section-break {
		padding-top: 15px;
		padding-bottom: 15px;
		letter-spacing: 25px;
		text-align: center;
	}

	@media (min-width: 768px) {

		.big-image {
			width: 160%;
			padding-bottom: 30px;
			padding-top: 20px;
			margin-right: 30%;
			margin-left: -30%;
			display: inline-block;
			font-family: 'Playfair Display', 'PT Serif', serif;
		}

		.pull-quote-center {
			width: 130%;
			margin-left: -15%;
			padding-top: 20px;
			padding-bottom: 30px;
		}

		.quote {
			font-size: 28px;
			line-height: 37px;
			margin-bottom: 0px;
			text-align: center;
			font-style: italic;
			font-family: 'PT Serif', serif;
			font-weight: 300;
		}

		.attribute {
			font-size: 18px;
			padding-top: 5px;
			font-family: 'Lato', sans-serif;
			color: grey;
			margin-top: 0;
			text-align: center;
		}

		.wide-right {
			padding-top: 15px;
			padding-bottom: 30px;
			padding-left: 25px;
			margin-right: -40%;
			float: right;
			width: 80%;
			text-align: right;
		}

		.wide-left {
			padding-top: 15px;
			padding-bottom: 30px;
			padding-right: 25px;
			margin-left: -40%;
			float: left;
			width: 80%;
			text-align: left;
		}
	}

	@media (max-width: 767px) {
		.pull-quote-center {
			width: 100%;
			padding-bottom: 20px;
			padding-top: 20px;
		}
		.quote {
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 0px;
			text-align: center;
			font-style: italic;
			font-family: 'PT Serif', serif;
			font-weight: 300;
		}
		.attribute {
			font-size: 16px;
			font-family: 'Lato', sans-serif;
			color: grey;
			margin-top: 0;
			text-align: center;
		}
		.big-image,.wide-right,.wide-left {
			padding-top: 25px;
			padding-bottom: 25px;
			font-family: 'PT Serif', serif;
		}
		.main-image {
			width: 75%;
		}
	}

	.ad {
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
		font-family: 'Inter','Lato', system-ui, sans-serif;
	}

/* Directory template | Big table of contents | See hoemcoming guide */

	.bignav {
		padding-top: 3%;
		padding-bottom: 0;
		text-align: left;
	}

	.bignavlink{
		color: black;
		text-decoration: none;
		font-family: 'Inter','Lato', system-ui, sans-serif;
		padding-top: 30px;
	}

	.bignavlink:hover {
		color: black;
		text-decoration: none;
	}

	.image-fit-img {
		object-fit: cover;
	}

	.bignav-subhead {
		text-align: left;
		margin-top: 0;
	}
	.directory-entry {
		padding-top: 30px;
	}

	@media (max-width: 767px) {
		.directory-entry {
			padding-top: 45px;
		}
	}

/* List template */

	.page-title {
		padding-bottom: 15px;
		font-family: 'Inter','Lato', system-ui, sans-serif;
		font-size: 50px;
	}

/* Footer | Donate link, Copyright notice */

	.support-us {
		padding-top: 40px;
		color: black;
		background-color: #EDEBEB;
		font-size: 16px;
		padding-bottom: 30px;
		font-family: 'Inter','Lato', system-ui, sans-serif;
		margin-top: 40px;
	}

	.cover-photo-caption {
		text-transform: uppercase;
		font-family: 'Inter','Lato', system-ui, sans-serif;
		font-size: 14px;
	}

	.footer {
		padding-top: 40px;
		color: #EDEBEB;
		background-color: black;
		font-size: 14px;
		padding-bottom: 30px;
		margin-bottom: 0;
		font-family: 'Inter','Lato', system-ui, sans-serif;
	}

	a.backto {
		text-decoration: none;
		color: white !important;
		border-bottom: 2px solid white;
		transition: 0.2s;
	}

	a.backto:hover {
		text-decoration: none;
		color: white !important;
		border-bottom: 2px solid black;
	}

.chart {
	padding: 32px;
	background-color: #F8F9FA;
	margin-top: 16px;
	font-family: 'Inter','Lato', system-ui, sans-serif;
	margin-bottom: 16px;
}

.chartHead {
	border-bottom: 5px solid black;
	font-weight: 700;
}

/* .underline-emp {
	border-bottom: 4px solid black;
} */

canvas {
	padding-top: 12px;
}

.content-sections {
	background-color: black;
	color: white;
	font-family: neue-haas-grotesk-display, sans-serif;
	padding-top: 24px;
	padding-bottom: 8%;
}

.section-p1 {
	border-bottom: 3px solid white;
	font-weight: 700;
}

.opinion-tag {
	font-family: neue-haas-grotesk-display, sans-serif;
	border-bottom: 3px solid #FF0500;
}

.story-box {
	padding: 4%;
	background-color: white;
}

.story-headline {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 700;
	padding-bottom: 2%;
	padding-top: 2%;
}

.ad-caption {
  text-align: center; font-size: 12px; padding-top: 15px; font-family: 'Inter','Lato', system-ui, sans-serif;; text-transform: uppercase;
}
.ad-block {
  margin-top: 2%; padding-bottom: 20px;
  margin-bottom: 5%;
}

.ad-code {
	padding-bottom: 15px;
}


.quote-box {
	background-color: black;
	color: white;
	padding: 2em;
	margin-top: 8em;
	margin-bottom: 35vh;
	-webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 30px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 30px rgba(0, 0, 0, 0.5);
}

a.quote-box {
	color: white;
}

.hunderline {
	padding-bottom: 15px;
	font-family: 'Inter', system-ui, sans-serif;
	font-weight: 800;
	font-size: 200%;
}

@media (min-width: 768px) {
	.section-head {
	position: sticky; top: 30%; text-align: left; padding-bottom: 3em; padding-top: 3em;
	height: 100vh;
}
}

@media (max-width: 767px) {
	.section-head {
	position: sticky; top: 10%; text-align: left; padding-bottom: 3em; padding-top: 3em;
	height: 100vh;
}
}

.topPart {
	padding-top: 12em;
	padding-bottom: 3em;
	color: white;
}

.firstcharacter {
  color: white;
  float: left;
  font-family: 'PT Serif', serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 24px;
  padding-left: ;
}

.headerphoto {
	height: 45vh;
	background-size: cover;
	object-fit: cover;
}

.social {
	font-family: 'Inter', system-ui, sans-serif;
	padding-right: 12px;
}

.socialshare:hover {
	text-decoration: none;
}

#fade1 {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#fade2 {

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

#fade3 {

       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

#fade4 {

       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

#fade5 {

       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
