/* 
    SET YOUR STYLES IN THIS FILE
    For help, see the style.css documentation: https://www.notion.so/style-css-cac459cc9c384da08f561394bcee4cbf
*/

/* FONTS */
/* add any @import statements for novelty fonts you want to use here ↓ */

/* COLORS */
:root {
  /* --mycolor: #your color here; */
  --idsred: #990000;
  --darkgray: rgb(80, 80, 80);
}

html {
  cursor: url('https://s3.amazonaws.com/snwceomedia/ids/7b6aaa08-9df8-4e5a-a474-28508229082a.original.png'), pointer;
}

header {
  /* add header image below */
  /* can use a file path before the photo is uploaded to ceo */
  background-color: black; /* Failsafe if things clip */

  /*  Gradient + 2 images */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)), url('https://s3.amazonaws.com/snwceomedia/ids/e2aacdff-0e44-4cad-85f4-28667fe35d7e.original.jpg'), url('https://s3.amazonaws.com/snwceomedia/ids/b6529d1d-3005-49d3-94d9-c8908804f3c7.original.jpg');
  background-repeat: no-repeat;
  background-size: cover, 50%, contain;
  /* adjusts image placement, can also be set as percentages (ex. 50% 50%) */
  background-position: center center, left center, right center;
}

.jimmy-font {
  font-weight: 900;
  font-family: "Arvo", Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
}

/* 
  SET ANY MORE STYLES YOU WANT BELOW
  Be sure to delete empty declarations
*/

/* 
TYPOGRAPHY
*/
h1 {
  /* top headline */

}

h2 {
  /* second headline */

}

h1,
h2 {
  /* alignment */
  text-align: center;
  /* width of text */
  max-width: var(--width-lg);
  /* text color */
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.headline-container {
  top: auto;
  bottom: 10vh; 
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px;
  margin: 16px;
}

h3 {
  /* section header */

}

.dropcap:first-letter {
  /* change the font/style of the dropcap if you wish to use them */

}

/* 
media queries helper
*/
.helper {
  /* comment out next line to get visual help with media queries while you code */
  display: none !important;

  width: 60px;
  height: 60px;
  background-color: red;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helper::after {
  content: 'XS';
  color: white;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

/* Actual media queries :) */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .helper {
    background-color: orange;
  }
  .side-by-side {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .helper::after {
    content: 'S';
  }
}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .helper {
    background-color: green;
  }


  .helper::after {
    content: 'L';
    color: white;
  }
}


@media (min-width: 992px) {
  .mobile-only {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .desktop-only {
    display: none;
  }


  header {
    /* add header image below */
    /* can use a file path before the photo is uploaded to ceo */
    background-color: black; /* Failsafe if things clip */
  
    /*  Gradient + 2 images */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)), url('https://s3.amazonaws.com/snwceomedia/ids/e2aacdff-0e44-4cad-85f4-28667fe35d7e.original.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* adjusts image placement, can also be set as percentages (ex. 50% 50%) */
    background-position: left center;
  }

  .headline-container h1 {
    /* top headline */
    font-size: 28px;
  
  }
  
  .headline-container h2 {
    /* second headline */
    font-size: 34px;
  
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .helper {
    background-color: blue;
  }

  .helper::after {
    content: 'XL';
  }
}