/*Bootstrap is mobile first, so media queries at the bottom apply to larger screens.
Assume anything not under a media query is for .col-xs */

/*General html*/
	body{
		background-color: #fff;
	}

/*Fonts and icons*/
	/*if you want to add a different headline font let us know.*/
	h2, h3, h4, h5{
		font-family: 'Lato', sans-serif;
		color: #4b4b4b;
		margin-top: 0em;

	}
	

	/*use h1 for headlines*/
	h1{
		font-family: 'Roboto Slab', serif;
		font-size: 3.5em;
		line-height: 1.2;
		letter-spacing: .05em;
		font-weight: 300;
		margin-bottom: 1em;
		margin-top: 1em;
		text-align: center;
	}

	.smaller {
		font-size: 2.5em;
	}

	/*h2 is the italicized subhead.*/
	h2{
		font-size: 1.8em;
		line-height: 1.3em;
/*		color: #939393;
*/		margin-bottom: 1.8em;
		font-weight: 300;
		margin-top: 1.8em;
	}
	
	h3{
		font-size: 2em;
	}

	h4{
		font-weight: bold;
	}

	h5{
		font-style: normal;
		font-size: 1.2em;

	}
	
	/*h6 is used for bylines*/
	h6{
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 1.5em;
		font-weight: 300;
	}

	.by{
		font-weight: 900;
	}

	.center {
		text-align: center;
	}



	/*We're never gonna change body copy though*/
	p, i, caption {
		font-family: 'Lato', sans-serif;
		color: #4b4b4b;
	}

	p{
		font-size: 17px;
		line-height: 1.8;
		padding-bottom: 1em;
		font-weight: 500;
	}

	figcaption{
		font-weight: 300;
		font-size: 1em;
		line-height: 1.4em;
		margin-top: .5em;
		margin-bottom: 3em;
	}

	
	/*if you want to change the color of icons throughout the article feel free, but create
	a new class name so the navbar icons stay the same color. */

	.fa-twitter {
	  color: white;
	  padding-right: .2em;
	  font-size: 1.6em;
	}

	.fa-twitter {
	  color: white;
	  padding-right: .2em;
	  font-size: 1.6em;
	}

	.pulledquote .fa-twitter {
	  color: black;
	  font-size: 1em;
	  padding-left: .5em;
	}

	.fa-facebook {
	  color: white;
	  padding-right: .15em;
	  font-size: 1.6em;
	}




/*Links*/

/*media*/
	figure{
		width: 100%;
		margin-top: 0em;
		margin-bottom: 1.5em;
	}

	.nomarg {
		margin: 0em;
	}

	.topmarg {
		margin: 0px;
		margin-top: 30px;
	}

	.leftmarg {
		margin:0;
		padding: 10px;
	}

	.mobile {
		margin-top: 5em;
	}

	figure > img{
		width: 100%;
		margin-bottom: 0em;
	}

	figure > em {
		font-size: .8em;
		margin-bottom: .5em;
		width: 100%;
		text-align: right;
		float: right;
	}

	.pulledquote p{
		padding: 0;
		margin: 0;
		margin-top: .5em;
		font-family: 'Lato';
		font-weight: 900;
	}

	.pulledquote h3{
		padding: 0;
		margin: 0;
		font-family: 'Lato';
		font-weight: 300;
	}


	.pulledquote{
		margin-top: 3em;
		margin-bottom: 3em;
		width: 100%;
	}

	
	#carousel-example-generic{
		margin-top: 1em;
		margin-bottom: 1em;
	}

	





hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
	border-color: #d7d7d7;
	border-width: .1em;
}

/*navigation*/
	/*Don't change anything here unless you run into problems with spacing on section links*/
	.navbar {
	 margin-bottom: 50px;

	}

	.navbar-brand {
	  font-size: 24px;
	  color: white;
	  font-weight: bold;
	  padding-left: 1em;
	}



	nav{
		margin-bottom: 500px;
	}
	
	
	#bs-example-navbar-collapse-1 ul{
		font-family: 'lato', serif;
		text-align: center;
		margin-top: 0 auto;
	}

	.navbar-headline-mobile {
		font-family: 'lato', serif;
		text-decoration: none;
		text-align: center;
		margin-left: 2em;
		width: 500px;
		line-height: 50px;
	}

	#bs-example-navbar-collapse-1 li .nav-headline{
		font-family: 'lato', serif;
		text-decoration: none;
		text-align: center;
		color: white;
		margin-left: 0em;
		margin-right: 0em;
		line-height: 50px;

	}

/*intro row */
	.byline{
		display: none;
		font-family: 'Roboto Slab';
	}

	.byline-mobile{
		margin-top: 1em;
		margin-bottom: 2em;
		text-align: center;
		font-family: 'Roboto Slab';


	}

	.headline{
	}

	.led{
		margin-top: 1em;
	}

	.intro-caption-mobile{
		margin-top: 5px;
	}

/*inline 6 columns*/
	
/*sidebar 4 columns*/
	.sidebar img{
		width: 100%;
	}

	.sidebar .chart {
		margin-top: 0em;
	}

	.sidebar  h6{
		margin-top: 0em;
	}

	
/*breaks*/
	.break{
		height: 100%;
	}

	/*annoyingly, I can't just include all the text (h1,h2,h3,etc.) after .break as it only applies to the first one listed not everything.
	if you want to include more text in a break, just at .break h2 {} or whatever text you want.*/

	.break figcaption{
			margin-left: 3%;
			margin-right: 3%;
		}

	.break h4{
			margin-left: 3%;
			margin-right: 3%;
		}	

.show-desktop {
	display: none;
}

.show-mobile {
	display: block;
}


/*contributors*/
	.contributors{
		margin-bottom: 2em;
	}

	.contributors p{
		margin-top: -.6em;
		margin-bottom: -1em;
	}

	.contributors h3{
		margin-bottom: 1em;
	}

	.contributors .fill{
		display: none;
	}

/*footer*/
	footer{
		height: 5em;
		background-color: #101010;
		color: white;
		padding: 1em;
		text-align: right;
		margin-top: 3em;
		
	}

	footer a{
		color: #4b4b4b;

	}

/* this is where i am adding all my shit*/

.weekend {
	margin-top: 2em;
	margin-top: 2em;
	text-align: center;
	font-size: 16px;
	font-family: "Roboto Slab";
	font-weight: 300;
}

.dropcap {
    font-family: 'Lato', serif;
    font-weight: 900;
    float: left;
    font-size: 6em;
    line-height: .8em;
    margin-right: .1em;
    padding: .1em;
    color: white;
    background-color: #cc0000;
}

.desktop {
	margin-top: 5em;
	margin-bottom: 1em;
}

.bigger {
	font-size: 28px;
}

.intro {
		font-size: 25px;
		line-height: 1.6;
		text-align: center;
		font-family: 'Lato';
		font-weight: 300;
		margin-bottom: 0em;
		margin-top: .5em;
		/*text-decoration: underline;
		-moz-text-decoration-color: #cc0; /* Code for Firefox */
/*    	text-decoration-color: #cc0;*/
	}

	.introsmaller {
		font-size: 20px;
		line-height: 1.5;
		text-align: center;
		font-family: 'Lato';
		font-weight: 300;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	#IDS {
	width: 60%;
}

.padbottom {
	margin-bottom: 3em;
}

.yearalbum {
	font-family: 'Roboto Slab';
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 1em;
}

.show-desktop {
	display: none;
}

.square {
	width: 45px;
	height: auto;
	margin: 0 auto;

	display: block;
}

.bold {
	font-weight: 900;
}

.cyan {
	color: #00BCBC;
}

.magenta {
	color: #CF00BA;
}

.menunav {
	font-family: 'Lato';
	font-size: 13px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	color: #CF00BA;
}

.menunav:hover {
	color: #00BCBC;
	text-decoration: none;
}

::-moz-selection { /* Code for Firefox */
    background: yellow;
}

::selection {
    background: yellow;
}

.yellow {
	height: 10px;
	background-color: white;
	margin-top: 1em;
	margin-bottom: 3em;
}

.white {
	height: 15px;
	background-color: white;
	margin-top: 1em;
	margin-bottom: 3em;
}

.icon {
	display: block;
	margin: 0 auto;
	width: 80px;
	height: auto;
	padding-top: 7em;
}

.border {
	border: 4px #00BCBC;
}

.albumnname {
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	font-weight: 300;
	font-size: 20px;
}

.thumb {
	width: 25px;
	height: auto;
	opacity: .5;
	margin-left: .5em;
}

.thumb:hover {
	opacity: 1.0;
}

.show-mobile {
	display: block;
}

.show-desktop {
	display: none;
}

.block{
	display: inline-block;
	width: 45%;
	height: auto;
}

.number {
	font-weight: 900;
	font-size: 30px;
	background-color: yellow;

}


/*types of media*/


/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:600px) { 

	.show-desktop {
		display: block;
	}

	.intro {
		font-size: 30px;
		line-height: 1.6;
		text-align: center;
		font-family: 'Lato';
		font-weight: 300;
		margin-bottom: 0em;
		margin-top: 0em;
		/*text-decoration: underline;
		-moz-text-decoration-color: #cc0; /* Code for Firefox */
/*    	text-decoration-color: #cc0;*/
	}

	.show-mobile {
		display: none;
	}

	h2{
		font-size: 2em;
		line-height: 1.3em;
		color: #939393;
		margin-bottom: 2em;
		font-weight: 300;
		margin-top: 2em;
	}

	body {
		background-color: #fff;
	}

/*Navbar*/
	.navbar-headline-mobile {
		display: none;
	}
	
#kanyemain {
	background: url(https://s3.amazonaws.com/media.ids/61535_kanyemaino.gif) 50% 0 repeat fixed;
	min-height:1000px;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#kanyemainsecond {
	background: url(https://s3.amazonaws.com/media.ids/61542_kanyesecondmaino.gif) 50% 0 repeat fixed;
	min-height:1000px;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.weekend {
	margin-top: 4em;
	text-align: center;
	font-size: 26px;
	font-family: "Roboto Slab";
	font-weight: 300;

}

}


/* Medium devices (desktops, 960px and up) */
@media (min-width:960px) { 

	.show-desktop {
	display: block;
}
/*navbar*/
	.navbar-headline-mobile {
		display: none;
	}

/*Intro and header */
	.byline-mobile{
		display: none;
		font-family: 'Roboto Slab';

	}

	.byline{
		display: inline;
		margin-top: 0em;
		padding-top: 0em;
		font-family: 'Roboto Slab';

	}


/*article*/

	.inline-wide {
		width: 125%;
		height: auto;
	}

	.inline-narrow{
		width: 50%;
		height: auto;
	}


/*sidebar*/
	.pulledquote {
		color: #5996AD;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	.sidebar .pulledquote{
		margin-top: -1.5em;

	}

/*contributors*/
	.contributors .fill{
		display: inline;
		visibility: hidden;
	}

.show-desktop {
	display: block;
}

.show-mobile {
	display: none;
}

.intro {
		font-size: 30px;
		line-height: 2.0;
		text-align: center;
		font-family: 'Lato';
		font-weight: 300;
		margin-top: 1em;
	}

.square {
	width: 150px;
	height: auto;
	margin-top: 2em;
	margin-left: 25px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
          display: inline-block;
}
 
.tilt:hover {
  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.bold {
	font-weight: 900;
}

.cyan {
	color: #00BCBC;
}

.magenta {
	color: #CF00BA;
}

.menunav {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	color: #CF00BA;
	border: none;
}

.menunav:hover {
	color: #00BCBC;
	text-decoration: none;
}

.smaller {
		font-size: 3.5em;
	}


/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) { 


 }

