/* 
    SET YOUR STYLES IN THIS FILE
    For help, see the style.css documentation: https://www.notion.so/style-css-cac459cc9c384da08f561394bcee4cbf
*/

/* FONTS */
/* add any @import statements for novelty fonts you want to use here ↓ */

/* COLORS */
:root {
  /* --mycolor: #your color here; */
  --idsred: #990000;
  --darkgray: rgb(80, 80, 80);
}

header {
  /* add header image below */
  /* can use a file path before the photo is uploaded to ceo */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)), 
  url('https://s3.amazonaws.com/snwceomedia/ids/ee1918f9-1055-4029-b538-0201d1d156f0.original.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  /* adjusts image placement, can also be set as percentages (ex. 50% 50%) */
  background-position: center center;
}

article {
  position:relative; 
  overflow: hidden;
}

/* 
  SET ANY MORE STYLES YOU WANT BELOW
  Be sure to delete empty declarations
*/

.section-brk {
  width: 200px;
  margin: auto;
}

.sm-image {
  margin: auto;
  max-width: 300px;
}


.xs-image {
  margin: auto;
  max-width: 200px;
}

#booth-scroll {
  width: 50vw;
  position: absolute;
  top: 100vh;
  right: 0px;
}

.rev-margin-y {
  z-index: -1;
  margin: auto;
}

/* 
TYPOGRAPHY
*/
h1 {
  /* top headline */
}

h2 {
  /* second headline */

}

h1,
h2 {
  /* alignment */
  text-align: center;
  /* width of text */
  max-width: var(--width-lg);
  /* text color */
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.headline-container {
  /* top: auto;
  bottom: 15vh; */
  top: auto;
  bottom: 40%;
  right: 10vw;
  left: 50%;
  max-width: 500px;


  h1, h2, h3 {
    color: white;
    /* font-family: 'Inter'; */
  }

  background-color: rgba(0,0,0,.5);
    padding: 20px 4px;
    border-radius: 4px;
    margin: 14px;
}

h3 {
  /* section header */

}

.dropcap:first-letter {
  /* change the font/style of the dropcap if you wish to use them */

}

/* 
media queries helper
*/
.helper {
  /* comment out next line to get visual help with media queries while you code */
  display: none !important;

  width: 60px;
  height: 60px;
  background-color: red;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helper::after {
  content: 'XS';
  color: white;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 576px) {
  .headline-container {
    /* top: auto;
    bottom: 15vh; */
    top: 45%;
    bottom: auto;
    right: auto;
    left: auto;
    /* max-width: 500px; */
    h1, h2, h3 {color: white;}

    background-color: rgba(0,0,0,0.5);
    padding: 4px;
    border-radius: 4px;
    margin: 14px;

  }

  header {
    /* add header image below */
    /* can use a file path before the photo is uploaded to ceo */
    /* adjusts image placement, can also be set as percentages (ex. 50% 50%) */
    background-position: 35% center;
  }
}

/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* use these for responsive design — you can set different styles based on how wide the screen is */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .helper {
    background-color: orange;
  }

  .helper::after {
    content: 'S';
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    /* adjust header image positioning for larger devices if needed */
    /* you can also change the header image for mobile here */
    /* background-position: 50% 50%; */
  }

  .helper {
    background-color: yellow;
  }

  .partial {
    width: 80%;
  }

  .helper::after {
    content: 'M';
    color: black;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .helper {
    background-color: green;
  }

  .helper::after {
    content: 'L';
    color: white;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .helper {
    background-color: blue;
  }

  .helper::after {
    content: 'XL';
  }
}