
.container-fluid{
    padding:0;
    padding-left: 1em;
    padding-right: 1em;
    position:relative;
}

.navbar-headline-mobile {
    font-size: 14px;
    margin-left: -17px;
}

h1-main{
    font-family: 'Playfair Display', serif;
    letter-spacing: -1em;
    font-size: 3.9em;
    line-height: 1;
    letter-spacing: .01em;
    margin-bottom: .3em;
    margin-top: 0.2em;
}

.please {
    /* color: black; */
    text-decoration: none;
    padding-bottom: 1em;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}

#sample {
    width: 660px;
    height: auto;
    margin-top: 8%;
    margin-bottom: -.5%;
}

.graf {
    margin-bottom: 50px;
}

.boardbuffer {
    padding-top: 8em;
}

h1{
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    letter-spacing: -0.6em;
    font-size: 3em;
    line-height: 1.2;
    letter-spacing: .02em;
    margin-top: 0.25em
}

h2{
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    line-height: 1.3em;
    font-weight: 300;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
}

h4{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em
}

h5 {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    margin-top: 1em;
    font-weight: normal;
}

h6 {
    font-family: 'Lato', sans-serif;
    font-size: 1.33em;
}

h6.piece {
    margin-bottom: 5%;
    font-weight: bold;
}

#cuban {
    margin-bottom: 1.5em;
}

p{
    font-size: 17px;
    line-height: 1.8;
    padding-bottom: 1em;
    font-family: 'Lato', serif;
    color: #4b4b4b;
}

p.steps {
    font-size: 18px;
    line-height: 1.8;
    font-family: 'Lato', serif;
    color: #4b4b4b;
}


body {
    background-color: #CBE8F9;
}

.game {
    padding-left: 10%;
    padding-right: 10%;
}

h2 {
    margin-bottom: 5%;
    margin-top: -10%;
}

div.path {
    display: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    background-color: white;
    border: none;
    color: black;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.33em;
    font-weight: bold;
    font-family: 'Lato', serif;
    padding: .8em;
}

button:hover {
    background-color: white; /* Green */
    color: gray;
}

.cursor {
    cursor: auto;
    cursor: url(https://s3.amazonaws.com/snwceomedia/ids/671453ed-62c5-4226-bc93-200ec77f4a2d.original.png) 4 12, auto;
}

#demo {
    color: black;
    font-size: 25pt;
    margin-top: -10px;
    font-family: 'Lato', serif;
}

a {
    border-radius: 9px;
    text-decoration: none;
    padding: 2%;
}

a.piece {
    text-decoration: none;
}

div.red {
    background-color: red;
    margin: 1em;
    width: 20em;
    height: 20em;
    padding: 4%;
}

div.white {
    background-color: #FFFFF0;
    margin: 1em;
    width: 20em;
    height: 20em;
    padding: 7%;
}

div.dice {
    background-color: white;
    margin: 1em;
    width: 11em;
    height: 11em;
    text-align: center;
    border-radius: 9px;
    margin-top: 15%;
    margin-bottom: 15%;
}

img {
    height: 180px;
    width: auto;
}

.players, .rules {
    margin: 9em;
}

.sticky {
  position: fixed;
  left: 15%;
  top: 1em;
  text-align: center;

}

.sticky + .content {
  padding-top: 60px;
  /* text-align: center; */
}

#art {
    position: absolute;
    top: 27%;
    right: 7%;
    height: 530px;
}

#aud {
    position: absolute;
    top: 43%;
    left: 6em;
    width: 500px;
    height: auto;
}

#clock {
    position: absolute;
    top: 64%;
    right: 10%;
    height: 450px;
}

#wells {
    position: absolute;
    top: 77%;
    left: 13%;
    height: 550px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
	width: 100%;
	height: 35x0px;
	margin-bottom: 1em;
	margin-top: 1em;

}

#map{
	height: 500px;
}

#IDS {
	width: 60%;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 360px) {
    #sample {
        width: 360px;
        height: auto;
        margin-top: 8%;
        margin-bottom: -.5%;
    }

    .boardbuffer {
        padding-top: 4em;
    }

    h1-main{
    font-family: 'Playfair Display', serif;
    letter-spacing: -0.5em;
    font-size: 2.6em;
    line-height: 1.2;
    letter-spacing: .0001em;
    margin-bottom: .25em;
    margin-top: 0.25em;
    }

    h5 {
     font-family: 'Lato', sans-serif;
     font-size: 1.05em;
     font-style: italic;
     margin-top: 1em;
    }

    h6 {
      font-family: 'Lato', sans-serif;
      font-size: 1.2em;
    }

    h6.piece {
     margin-bottom: 5%;
     font-weight: bold;
    }

    h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.3em;
    }

    h5 {
        font-family: 'Playfair Display', serif;
        font-size: 1.7em;
        font-weight: bold;
        font-style: normal;
        margin-top: 2%;
    }

    h2{
      font-family: 'Playfair Display', serif;
      font-size: 2em;
      line-height: 1.3em;
      font-weight: 300;
      margin-top: 1.6em;
    }

    div.dice {
      background-color: white;
      margin: 1em;
      width: 7.3em;
      height: 7.3em;
      text-align: center;
      border-radius: 9px;
      margin-top: 9%;
      margin-bottom: 15%;
      left: 0%;
  }

  button {
      background-color: white;
      border: none;
      color: black;
      padding: 1px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 15px;
  }

  button.hover {
      background-color: gray;
  }

  #demo {
       color: black;
       font-size: 20pt;
       margin-top: 5px;
    }

   .players, .rules {
      margin: 0em;
    }

  #art {
        height: 320px;
        top: 38.3%;
        right: 1%;
    }

    #aud {
       width: 330px;
       height: auto;
       top: 51.15%;
       left: 1%;
    }

    #clock {
       top: 69.15%;
       right: 10%;
       height: 260px;
   }

   #wells {
      height: 370px;
      top: 80.7%;
      left: 0%;
  }
}

@media (min-width: 532px){
  #art {
        height: 320px;
        top: 36.3%;
        right: 1%;
    }

    #aud {
       width: 330px;
       height: auto;
       top: 49%;
       left: 1%;
    }

    #clock {
       top: 67.9%;
       right: 10%;
       height: 260px;
   }

   #wells {
      height: 370px;
      top: 80.1%;
      left: 2%;
  }
}


@media (min-width: 768px) {
    #sample {
        width: 470px;
        height: auto;
        margin-top: 8%;
        margin-bottom: -.5%;
    }

    h1-main{
        font-family: 'Playfair Display', serif;
        letter-spacing: -0.5em;
        font-size: 2.8em;
        line-height: 1.2;
        letter-spacing: .0001em;
        margin-bottom: .25em;
        margin-top: 0.25em;
        }

    .boardbuffer {
        padding-top: 4em;
    }

    h5 {
        font-family: 'Playfair Display', serif;
        font-size: 1.7em;
        font-weight: bold;
        font-style: normal;
        margin-top: 2%;
    }

   h6 {
      font-family: 'Lato', sans-serif;
      font-size: 1.2em;
    }

    h6.piece {
     margin-bottom: 5%;
     font-weight: bold;
     font-size: 1.3em;
    }

    h3 {
        font-family: 'Playfair Display', serif;
        font-size: 1.4em;
    }

    h2{
     font-family: 'Playfair Display', serif;
     font-size: 2em;
     line-height: 1.3em;
     font-weight: 300;
     margin-top: 1.6em;
   }

   div.dice {
      background-color: white;
      margin: 1em;
      width: 8em;
      height: 8em;
      text-align: center;
      border-radius: 9px;
      margin-top: 10%;
      margin-bottom: 15%;
      left: 5%;
    }

    button {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 15px;
    }

    button.hover {
    background-color: gray;
    }

    #demo {
      color: black;
      font-size: 20pt;
      margin-top: 1px;
   }

   .players, .rules {
   margin: 7em;
 }

 #art {
      height: 370px;
      top: 36%;
      right: 5%;
  }
  #aud {
     width: 400px;
     height: auto;
     top: 49.5%;
     left: 5%;
  }

  #clock {
       top: 68.15%;
       right: 9%;
       height: 310px;
    }

    #wells {
     height: 410px;
     top: 80.24%;
     left: 9%;
 }
}

@media (min-width: 992px) {
    #sample {
        width: 560px;
        height: auto;
        margin-top: 8%;
        margin-bottom: -.5%;
    }

    h1-main{
      font-family: 'Playfair Display', serif;
      letter-spacing: -0.5em;
      font-size: 3em;
      line-height: 1.2;
      letter-spacing: .0001em;
      margin-bottom: .25em;
      margin-top: 0.25em;
      }

      .boardbuffer {
    padding-top: 4em;
    }

    h5 {
        font-family: 'Playfair Display', serif;
        font-size: 1.7em;
        font-weight: bold;
        font-style: normal;
        margin-top: 2%;
    }

    h6 {
       font-family: 'Lato', sans-serif;
       font-size: 1.2em;
     }

     h6.piece {
      margin-bottom: 5%;
      font-weight: bold;
      font-size: 1.3em;
     }

     h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
}

    h2{
     font-family: 'Playfair Display', serif;
     font-size: 2em;
     line-height: 1.3em;
     font-weight: 300;
     margin-top: 1.6em;
    }

    div.dice {
       background-color: white;
       margin: 1em;
       width: 8em;
       height: 8em;
       text-align: center;
       border-radius: 9px;
       margin-top: 10%;
       margin-bottom: 15%;
       left: 5%;
     }

     button {
        background-color: white;
        border: none;
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin-top: 15px;
        }

        button.hover {
        background-color: gray;
        }

        #demo {
          color: black;
          font-size: 20pt;
          margin-top: 1px;
        }

        .players, .rules {
        margin: 12em;
        }

    #art {
      height: 400px;
      top: 38%;
      right: 6%;
    }

      #aud {
         width: 450px;
         height: auto;
         top: 51%;
         left: 2%;
      }

  #clock {
       top: 68.7%;
       right: 9%;
       height: 340px;
    }

    #wells {
     height: 430px;
     top: 80.7%;
     left: 9%;
 }

}

@media (min-width: 1200px) {
    #sample {
        width: 660px;
        height: auto;
        margin-top: 8%;
        margin-bottom: -.5%;
    }

    h1-main{
      font-family: 'Playfair Display', serif;
      letter-spacing: -0.5em;
      font-size: 2.8em;
      line-height: 1.2;
      letter-spacing: .0001em;
      margin-bottom: .25em;
      margin-top: 0.25em;
      }

      .boardbuffer {
     padding-top: 4em;
 }

     h6.piece {
     margin-bottom: 5%;
     font-weight: bold;
     font-size: 1.2em;
    }

    h3 {
        font-family: 'Playfair Display', serif;
        font-size: 1.4em;
    }

    .players, .rules {
    margin: 4em;
    }

    .squeeze {
        margin-left: 8em;
        margin-right: 8em;
    }

    #art {
     height: 470px;
     top: 28%;
     right: 8%;
     }

     #aud {
        width: 490px;
        height: auto;
        top: 44%;
        left: 5%;
     }

     #clock {
          top: 63.4%;
          right: 11%;
          height: 400px;
       }

       #wells {
        height: 470px;
        top: 78%;
        left: 14%;
    }

}
