/* 
    SET YOUR STYLES IN THIS FILE
    For help, see the style.css documentation: https://www.notion.so/style-css-cac459cc9c384da08f561394bcee4cbf
*/

/* FONTS */
/* add any @import statements for novelty fonts you want to use here ↓ */

/* COLORS */
:root {
  /* --mycolor: #your color here; */
  --idsred: #990000;
  --darkgray: rgb(80, 80, 80);
}


#heart {
  position: relative;
  width: 0;
  margin: auto;
  /* height: 180px; */
  margin-top: 20px;
}

#heart::before, #heart::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: -40px;
  width: 208px;
  height: 320px;
  border-radius: 1000px 1000px 0 0;
  background: #cc0000;
}

#heart::before {
  left: 0px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: -208px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

html {
  background-color: black;
}

header {
  position: fixed;
  z-index: 7;
  width: 100%;
  top: 0;
}

article {
  padding: 0;
}

/* 
  SET ANY MORE STYLES YOU WANT BELOW
  Be sure to delete empty declarations
*/
h1,
h2 {
  /* alignment */
  text-align: center;
  /* width of text */
  max-width: var(--medium);
  /* text color */
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

h1 {
  font-family: Inter, sans-serif;
  font-size: 20px;
  /* background-color: rgba(0, 0, 0, 0.8); */
  margin-top: var(--md);
  padding: var(--xs) var(--sm);
  border-radius: 4px;
  margin-bottom: var(--md);
}

.bylines p,
.bylines a:link,
.bylines a:hover,
.bylines a:active,
.bylines a:visited {
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

figcaption {
  display: none;
}

p.credit {
  font-size: 0.7em;
}

.scrolly {
  position: relative;
  /* height: 1345vh; */
}

.headline-container {
  position: absolute;
  z-index: 5;
  top: center;
  transform: translateY(-40%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;

  background-color: #000000cc;

}

.sticky-image {
  /* height: 90vh; */
  height: 100vh;
  top: 0;
  position: sticky;
  /* top: 10vh; */
  z-index: 4;
  transition: opacity 400ms;
}

.sticky-image figure {
  transition: opacity 400ms;
  margin: 0;
}

.sticky-image figure img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}

p.donate {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

.donate a {
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  color: white;
  z-index: 3;
  background-color: var(--gray95);
}

footer a.subscribe:link,
footer a.subscribe:visited {
  color: var(--gray20);
  box-shadow: 1px 1px 5px black;
}

footer a.subscribe:hover,
footer a.subscribe:active {
  box-shadow: 2px 2px 10px black;
}

footer .links a,
p.copyright,
footer .logo span {
  color: var(--gray20);
}

footer .copyright {
  background-color: var(--gray90);
}


.author-bios {
  display: none;
}


.step {
  position: relative;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 500px;
  margin: 10vh var(--sm) 90vh;
  padding: var(--sm) var(--md);
  border-radius: 4px;

}

@media screen and (max-width: 550px) {
  .step {
    margin-left: var(--sm);
    margin-right: var(--sm);
  }


#heart {
  position: relative;
  width: 0;
  margin: auto;
  /* height: 180px; */
  margin-top: 20px;
}

#heart::before, #heart::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: -40px;
  width: 104px;
  height: 160px;
  border-radius: 1000px 1000px 0 0;
  background: #cc0000;
}

#heart::before {
  left: 0px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: -104px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

}

.step p {
  color: white;
}