html {
  height: 100%; }

body, article {
  padding: 0;
  margin: 0; }

article {
  width: 90%;
  margin-left: 5%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-top: 1em; }
  article aside {
    width: 25%; }
  article aside.ad {
    width: 40%; }

aside {
  width: 10%;
  float: left;
  margin: 0em;
  padding: 0em; }

aside.ad {
  width: 20%; }

.right {
  float: right;
  margin-left: 2em;
  margin-right: 1.5em; }

.left {
  float: left;
  margin-right: 2em;
  margin-left: 1.5em;
  text-align: right; }

article aside.left {
  margin-left: 0em; }

article aside.right {
  margin-right: 0em; }

.right-wide {
  float: right;
  width: 55%;
  margin-right: -25%;
  margin-left: 1.5em; }

.left-wide {
  float: left;
  width: 55%;
  margin-left: -25%;
  margin-right: 1.5em;
  text-align: right; }

.wide {
  width: 75%;
  margin-left: 12.5%;
  margin-bottom: 0%; }

.full {
  margin-top: 0%;
  margin-bottom: 1em;
  width: 100%;
  padding: 0;
  height: 100%; }

.grid-wrap {
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: 100%; }
  .grid-wrap figcaption {
    width: 50%;
    float: left; }

.grid2 {
  margin: 0em;
  padding: 0em;
  width: 45%;
  margin-left: 0%;
  margin-right: 5%;
  float: left;
  height: 100%; }

.grid-wrap:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.grid3 {
  margin: 0em;
  padding: 0em;
  display: inline;
  width: 30%;
  margin-left: 0%;
  margin-right: 3.3%;
  float: left;
  margin-bottom: 1em; }

.lead {
  top: 0;
  text-align: center; }
  .lead img {
    width: 100%; }

hr {
  height: 2px;
  width: 100%;
  background-color: #eee;
  border: 0px;
  margin-top: 1em;
  margin-bottom: 2em; }

footer {
  width: 100%;
  background-color: #2b2b2b;
  color: #eee;
  height: 3em;
  position: relative;
  margin-top: -10px; }
  footer h5 {
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 25px; }
  footer a {
    color: #666666; }
  footer a:hover {
    text-decoration: underline; }

@media (max-width: 767px) {
  .xs-hidden {
    display: none; }
  .xs-visible {
    display: inline; }
  article {
    min-width: 90%;
    margin-left: 5%; }
    article .right {
      float: right; }
  .right {
    float: left;
    margin-left: 7.5%; }
  .left {
    float: left;
    margin-left: 7.5%; }
  aside {
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: 0%; }
  .left-wide {
    float: left;
    min-width: 100%;
    margin: 0%; }
  .right-wide {
    float: left;
    min-width: 100%;
    margin: 0%; }
  .wide {
    width: 100%;
    margin-left: 0%; }
  .grid-wrap {
    width: 100%;
    margin-left: 0%;
    padding: 0em; }
  .grid2 {
    margin: 0em;
    padding: 0em;
    width: 100%;
    margin-left: 0em; } }

@media (min-width: 768px) {
  article {
    width: 80%;
    margin-left: 10%; }
  .left-wide {
    width: 60%;
    margin: 0 5% 0 -5%; }
  .right-wide {
    width: 60%;
    margin: 0%;
    margin-right: -5%;
    margin-left: 5%; }
  .wide {
    margin: 0%;
    width: 100%; }
  .xs-hidden {
    display: none; }
  .xs-visible {
    display: inline; }
  .sm-hidden {
    display: none; }
  .sm-visible {
    display: inline; } }



@media (min-width: 992px) {
  article {
    width: 50%;
    margin: 0 0 0 25%; }
  .right-wide {
    width: 60%;
    margin: 0 -25% 0 5%; }
  .left-wide {
    width: 60%;
    margin: 0 5% 0 -25%; }
  .wide {
    width: 75%;
    margin-left: 12.5%; }
  .xs-hidden {
    display: none; }
  .xs-visible {
    display: inline; }
  .sm-hidden {
    display: none; }
  .sm-visible {
    display: inline; }
  .md-hidden {
    display: none; }
  .md-visible {
    display: inline; } }

@media (min-width: 1200px) {
  .left-wide {
    margin-left: -30%; }
  .right-wide {
    margin-right: -30%; }
  .xs-hidden {
    display: none;
    display: none; }
  .xs-visible {
    display: inline; }
  .sm-hidden {
    display: none; }
  .sm-visible {
    display: inline; }
  .md-hidden {
    display: none; }
  .md-visible {
    display: inline; }
  .lg-hidden {
    display: none; }
  .lg-visible {
    display: inline;
    display: inline; } }
