html {
  padding-top: 4em; }

.introduction {
  width: 100%;
  text-align: center; }
  .introduction h1 {
    line-height: 1.2em;
    margin-top: 0em;
    font-size: 4em; }
  .introduction img {
    max-width: 50%; }

h5 {
  margin-bottom: .5em;
  margin-top: 1.25em; }

hr {
  width: 80%;
  margin-top: 4em;
  margin-bottom: 4em; }

.related h1 {
  margin-top: 0em; }

.realted hr {
  margin-top: 1em;
  margin-bottom: 1em; }

footer {
  position: relative;
  height: 5em;
  bottom: 0;
  margin-top: 12em;
  text-align: right;
  padding-top: 5px; }
  footer .footer-text {
    margin-right: 5%; }
  footer a {
    line-height: 1.25em; }

@media (max-width: 768px) {
  .timeline.sidebar:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 6%;
    margin-left: -1.5px; }
  .timeline.sidebar li .timeline-panel {
    width: 60%; } }

@media (max-width: 991px) {
  .timeline.sidebar:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 6%;
    margin-left: -1.5px; }
  .timeline.sidebar li .timeline-panel {
    width: 70%; } }

@media (min-width: 1200px) {
  footer {
    margin-top: 18em; } }
