/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import 'breakpoints.scss';



h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, var,
b, u, i, center,
dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-size: 3em;
	font-weight: 900;
	margin-bottom: .1em;
	// margin-top: 1em;
	color: #333;
	/*font-weight: 100*/
}

h2, h4, h5, h6, li, figcaption, td, tr, th{
	font-family: 'Lato', sans-serif;
}

h2{
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 300;
	margin-bottom: .5em;
	margin-top: 0em;	
}

.timeline{
	h2{
		margin-bottom: .2em;
	}
}
h3{
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	line-height: 1.5em;
	margin-top: 1em;
	margin-bottom: .5em;
	font-weight: 500;
	color: #333;

}

figcaption, h4{
	font-size: 1em;
}

h4{
	font-weight: 400;
	line-height: 1.25em;
	font-size: 1em;
	margin-bottom: 1em;
	// margin-bottom: -5em;
	
}

h5{
	color: #666666;
	font-size: 1em;
	margin-bottom: 1em;
	margin-top: .25em;
	line-height: 1.25em;

}

h6{
	color: #666666;
	font-size: .8em;
	
	margin-bottom: 1.5em;
}
.lead h6{
	margin-top: -.7em;
}

p{
	font-family: 'lora', serif;
	font-size: 1.2em;
	line-height: 1.5em;
	font-weight: 300;
	// margin: 0;
	margin-bottom: 1em;
}


a{
	color: rgb(51, 122, 183);
	text-decoration: none;
}
a:hover{
	color: #337ab7;
	text-decoration: underline;
}

b{
	font-weight: 900;
}

code{
	padding: .2rem .4rem;
	font-size: 90%;
	color: #bd4147;
	background-color: #f9f2f4;
	border-radius: .25rem;
}

.dropcap{
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	float: left;
	font-size: 4em;
	line-height: .8em;
	margin-top: .01em;
	margin-right: .1em;
	padding: 0;
}

ul{
	margin-bottom: 2.5em;
	list-style: none;
}

li{
	margin-bottom: .5em;
	font-size: 1em;
}
figcaption{
	// margin-top: .75em;
	margin-bottom: 1.5em;
	line-height: 1.25em;
}
pre{
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 10px;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #cccccc;
	margin-top: 1em;
	margin-bottom: 1em;

}

nav{
	h3{
		font-size: 1em;
		margin: 0em;
		margin-top: -.25em;
	}
}

.related{
	
	h1{
		font-size: 1.5em;
		margin-top: .5em;
		line-height: 1.2em;
	}
	h5{
		font-size: 14px;
		margin-bottom: .5em;
	}
	h3{
		font-weight: 900;
		font-size: 1.5em;
		margin-bottom: .25em;
	}

	
}

aside.related{
	h1{
		font-size: 1.25em;
	}
	h1:hover{
		color: rgb(51, 122, 183);
	}
}

.related{
	h1{
		font-size: 1.75em;
		margin-top: .5em;
		margin-bottom: .25em;
		line-height: 1.2em;
	}
	h5{
		font-size: 14px;
		margin-bottom: .5em;

	}
	&:hover h5{
		color: white;
	}

	h6{
		margin: 0em;
		margin-bottom: .5em;

	}
	
}


// timeline
.timeline-key{
	display: inline-block;
}

.timeline-1{
	color: $red;
	display: inline-block;
	margin-right: 1em;
}

.timeline-2{
	color: $blue;
	display: inline-block;
}

.timeline{
	h2{
		line-height: 1.25em;
	}
	.timeline-badge>h4{
		font-size: .75em;
		font-weight: 500;
		color: white;
		padding-top: 0em;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	h4{
		font-size: .75em;
		margin-bottom: 1em;
	}
	.sidebar{
		h6{
			margin-top: 1em;
		}
	}

}
