figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  width: 100%;
  margin-left: 0%; }

.behind {
  z-index: -1;
}

nav img {
  width: auto; }

.wide > figure {
  width: 100%;
  margin-left: 0%; }

.full > figure {
  margin-left: 0%; 
}

.aside .left-wide img, .aside .right-wide img, .aside .left img, .aside .right img {
  width: 100%; }

video {
  height: 100%; }

.parallax {
    /* The image used */
    background-image: url("https://s3.amazonaws.com/media.ids/66141_20161128kendall_12o.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("https://s3.amazonaws.com/media.ids/66136_1_groupone_201610ambulance_1412o.jpg");
    /* background-image: url("https://iu.app.box.com/representation/file_version_113843755718/image_2048_jpg/1.jpg");*/    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("https://s3.amazonaws.com/media.ids/66140_17_final_20161007kendallinterview_152o.jpg");
    /*background-image: url("https://iu.app.box.com/representation/file_version_113842410211/image_2048_jpg/1.jpg");*/
    /* Set a specific height */
    height: 1200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    /* The image used */
    background-image: url("https://s3.amazonaws.com/media.ids/66138_4_201610ambulance_6o.jpg");
    /*background-image: url("https://iu.app.box.com/representation/file_version_113842447337/image_2048_jpg/1.jpg");*/
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mySlides {display:none;}

.paragraphic1 {
    background-image: url("https://iu.app.box.com/representation/file_version_114609464981/image_2048/1.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraphic2 {
    background-image: url("https://iu.app.box.com/representation/file_version_114609484877/image_2048/1.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraphic3 {
    background-image: url("https://iu.app.box.com/representation/file_version_114611597755/image_2048/1.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraphic4 {
    background-image: url("https://iu.app.box.com/representation/file_version_114609473941/image_2048/1.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraphic5 {
    background-image: url("https://iu.app.box.com/representation/file_version_114609478210/image_2048/1.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
