@media (min-width:1px) { 
.sms > li > figure{
  height: 40px;
  width: 40px;
  float:right;
  margin-left: 1.2em;
  margin-right: 0em;
}

.sms > li.recieved > figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40px;
  width: 40px;
  float:left;
  margin-right: 10px;
}

.sms > li.recieved > .fill{
  width: 100%;
  float: left;
}


.sms > li > .fill{
  width: 100%;
  float: right;
}

.sms > li > .panel {
  width: 60%;

}

.sms > li > .panel:before {
  top: 15%;
  
  
}

.sms > li > .panel:after {
  top: 15%;
   }   
}









@media (min-width:500px) { 
.translation{
  margin-top: .5em;
  display: inline-block;
  margin-left: -5%;
}

.sms {
  padding-left: 5%;
  padding-right: 5%;
}

li > .panel > p{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 56px;
}

li > .panel{
  background-color: #a2e65c;
}

li.recieved > .panel{
  background-color: #fcffff;
}
.sms > li > .panel {
  display: inline-block;
  width: auto;
  float: right;
  margin-left: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: -5px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  text-align: right;
  }

.sms > li > .panel:before {
  position: absolute;
  top: 25%;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #a2e65c;
  border-right: 0 solid #a2e65c;
  border-bottom: 15px solid transparent;
  content: " "; 
  
}

.sms > li > .panel:after {
  position: absolute;
  top: 25%;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #a2e65c;
  border-right: 0 solid #a2e65c;
  border-bottom: 14px solid transparent;
  content: " ";
   }

.sms > li.recieved > .panel {
  text-align: left;
  float: left;
  margin-right: 20px; }

.sms > li.recieved > .panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  border-left-color: #ccc;
  border-right-color: #ccc;
  left: -15px;
  right: auto; }

.sms > li.recieved > .panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  border-left-color: #fff;
  border-right-color: #fff;
  left: -14px;
  right: auto; }



.sms > li > figure{
  height: 50px;
  width: 50px;
  float:right;
  margin-left: 2em;
  margin-right: 2em;

}

.sms > li.recieved > figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  width: 50px;
  float:left;
  margin-right: 10px;
}

.sms > li.recieved > .fill{
  width: 100%;
  float: left;
}


.sms > li > .fill{
  width: 100%;
  float: right;
}

li.timestamp{
  max-width: 20%;
  border-radius: 5px;
  background-color: #cdcdcd;
  float: none;
  color: white;
  margin: 0 auto;
  margin-bottom: 2%;
  padding: .5%;
  text-align: center;
}

figure{
  margin-top: 0px;
  margin-bottom: 0px;
}






   
}

