/*Bootstrap is mobile first, so media queries at the bottom apply to larger screens.
Assume anything not under a media query is for .col-xs */

/*General html*/
	body{
		background-color:#F0F0F0;
	}


	
/*Fonts and icons*/
	/*if you want to add a different headline font let us know.*/
	h1, h2, h3, h4, h5{
		font-family: 'Lato', sans-serif;
	}

	h1{
		font-size: 40px;
		line-height: 1.2;
		font-weight: 900;
	}

	h2{
		font-style: italic;
		font-size: 20px;
		line-height: 1.2;
		color: #939393;
	}
	
	h6{
		font-family: 'Merriweather', serif;
		font-size: 16px;
		font-weight: bold;
	}

	/*We're never gonna change body copy though*/
	p, i, caption {
		font-family: 'Merriweather', serif;
		font-color: #585858;
	}

	p{
		font-size: 16px;
		line-height: 1.8;
		padding-bottom: 1em;
	}

	figcaption{
		font-style: italic;
		font-weight: 300;
		font-size: 12px;
		line-height: 1.4em;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	

	/*if you want to change teh color of icons throughout the article feel free, but create
	a new class name so the navbar icons stay the same color. */

	.fa-twitter {
	  color: white;
	  padding-top: .4em;
	  padding-right: .2em;
	  font-size: 25px;
	}

	.fa-facebook {
	  color: white;
	  padding-right: .15em;
	  font-size: 25px;
	}

/*Links*/

/*Imgs and figures*/
	figure{
		width: 100%;

	}

	img{
		width: 100%;

	}


/*Navigation*/
	/*Don't change anything here unless you run into problems with spacing on section links*/
	.navbar {
	 margin-bottom: 0px;

	}

	.navbar-inverse {
	 
	  
	}

	.navbar-brand {
	  font-size: 24px;
	  color: white;
	  font-weight: bold;
	  padding-left: 1em;

	}


/*Intro and header */
	.byline{
		display: none;
		margin-top: 50px;
		margin-bottom: 50px;
	}


/*body copy 6 columns*/
	


/*sidebar 4 columns*/
	.sidebar img{
		width: 100%;
	}

	.pulledquote p{
		padding: 0;
		margin: 0;
		margin-top: .5em;
	}

	.pulledquote{
		border-left: solid 10px;
		padding-left: 20px;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

/*inline 6-12 columns*/ 
	.inline{

	}

/*breaks*/
.break{
	height: 100%;
}

.break figcaption{
	margin-left: 3%;
	margin-right: 3%;
}

/*footer*/
footer{
	height: 5em;
	background-color: #585858;
	color: white;
	padding: 1em;
	text-align: right;
	
}



/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { 

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:960px) { 



/*Intro and header */
	.headline{
		padding-left: 5%;
		padding-right: 5%;
	}

	.lead{
		padding-left: 5%;
		padding-right: 5%;

	}
	.byline-mobile{
		display: none;
	}

	.byline{
		display: inline;
	}

/*sidebar*/
	.pulledquote {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	.sidebar .pulledquote{
		margin-top: -1.5em;

	}


 }





