html{
    background-color: #f2f2f2;
  height: 110%;

  }
body{

    
  }

  h5{
    color: white;
  }
.lead h1{
    font-size: 4em;
    margin-top: -1.25em;
    color: white;
    text-shadow: 2px 2px #a5a5a5; 
    margin-bottom: .5em;}
  
  }
article{
  margin-top: 2em;
}
.subhead h2{
  font-size: 1em;
  margin-bottom: 0em;
}
@media (max-width: 767px) {
  .doc-intro h1, .doc-intro h2, .doc-intro h5, .doc-intro h5 {
    width: 85%;
    margin-left: 7.5%; } }

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
  margin-top: 1.2em;
  margin-bottom: .75em;

}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #a5a5a5;
/*  border-top: 1px solid red;
*/  top: 0;
  width: 10%;

}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.subhead{
  margin-top: 1em;
}


nav{
  left: 0;
}

article{
  width: 60%;
  margin: 0 auto;
    background-color: white;
    padding: 4em 2em .5em 2em;
    box-shadow: 8px 8px 25px #888888;
}
.teaser{
  width: 44%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 5%;
  display: inline-block;
  background-color: #484f53;
  color: white;
  padding-bottom: 1.5em;



}

.republican{
  background-color: #c65d5d;
}

.democrat{
  background-color: #7286a3;
}

.republican:hover{
  background-color: #a33a3a;
}

.democrat:hover{
  background-color: #22477c;
}
.teaser img{
  width: 100%;

}

.teaser h2{
margin-top: -.2em;
color: white;
padding-left: 20px;
padding-top: .5em;
margin-bottom: 0em;


}
/*color: #b40000;
*/
.teaser h5{
  padding-left: 20px;
  font-weight: 100;
  margin: 0em;


  
}


.bar {
  width: 4em;
  height: .6em;
  background-color: #a5a5a5;
z-index: 1 !important;}



.story{
  padding-left: 2.5%;
  padding-right: 3%;
}

.story img{
  width: 90%;
  margin-left: 5%;
}
.story figcaption{
  width: 90%;
  margin-left: 5%;
}

hr{
  width: 50%;
}

.story .share img{
  margin: 0em;
} 

.share{
  margin-left: 5%;
}

h6{
  margin-top: 1em;
}

figcaption{
  margin-top: 1em;
}

.small{
  display: none;
}
@media (max-width: 500px) {
  .lead h1{
    font-size: .5em;
  }

  .teaser h2{
    font-size: .7em;
  }





}


@media (max-width: 800px) {

  .small{
    display: inherit;
  }

  .large{
    display: none;
  }
  .lead h1{
    font-size: 2em;
  }

 
 .subhead{
  display: none;
 }



.teaser{
width: 95%;
padding-bottom: 0em;
 
}

.teaser .text{
  max-width: 55%;
}

.teaser img{
  width: 40%;
  height: 100%;
}

.text{
  clear: both;
 display: inline-block;
 position: relative;
  vertical-align: top;
}

}

