/* 
    SET YOUR STYLES IN THIS FILE
    For help, see the style.css documentation: https://www.notion.so/style-css-cac459cc9c384da08f561394bcee4cbf
*/

/* FONTS */
/* add any @import statements for novelty fonts you want to use here ↓ */

/* COLORS */
:root {
  /* --mycolor: #your color here; */
  --idsred: #990000;
  --darkgray: rgb(80, 80, 80);
}

header {
  /* add header image below */
  /* can use a file path before the photo is uploaded to ceo */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)), url(../images/oliver_main.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* adjusts image placement, can also be set as percentages (ex. 50% 50%) */
  /* background-position: left left ; */
  padding-bottom: 60px;
}

h1 {
  /* alignment */
  text-align: center;
  /* width of text */
  max-width: var(--width-lg);
  /* text color */
  color: black;
  /* text-shadow: 0 0 15px rgba(0, 0, 0, 0.7); */
  font-size: 64px;
  padding-top: 32px;
  font-weight: 700;
}

h2 {
  /* alignment */
  text-align: center;
  /* width of text */
  max-width: var(--width-lg);
  /* text color */
  color: black;
  /* text-shadow: 0 0 15px rgba(0, 0, 0, 0.7); */
  font-size: 32px;
  padding: auto;
  font-weight: 600;
}

h2 {}

/* 
  SET ANY MORE STYLES YOU WANT BELOW
  Be sure to delete empty declarations
*/

/* 
TYPOGRAPHY
*/





h3 {
  margin-top: 0;
  font-size: 24px;
  /* section header */

}

.bylines {
  padding-top: 0.0;

}

article {
  padding-top: var(--l);
}

.dropcap:first-letter {
  /* change the font/style of the dropcap if you wish to use them */

}

.grid1 .grid-image-1 {
  grid-column: 2/12;
  grid-row: 1/1;

}

.grid1 .grid-image-2 {
  align-self: start;
  grid-column: 1/5;
  grid-row: 2/2;
}

.grid1 .grid-image-3 {

  grid-column: 5/9;
  grid-row: 2/2;
}


.grid1 .grid-image-4 {

  grid-column: 9/13;
  grid-row: 2/2;

}

.grid2 .grid-image-1 {
  grid-column: 1/7;
  grid-row: 1/1;
}

.grid2 .grid-image-2 {
  grid-column: 7/13;
  grid-row: 1/1;
}

.grid2 .grid-image-3 {
  grid-column: 1/7;
  grid-row: 2/2;
}

.grid2 .grid-image-4 {
  grid-column: 7/13;
  grid-row: 2/2;
}

.audio-context {
  border: 2px solid#ffca76;
  padding: 15px;
  margin: 1em 1 1em 1;
}

.imagegrid p.caption {
  padding-top: var(--xxs);
  padding-bottom: var(--sm);
}

.side-by-side {
  padding-left: var(--sm);
  padding-right: var(--sm);
}

.imagegrid {
  margin-bottom: var(--md);
}

/* 
media queries helper
*/
.show-mobile {
  display: none;
}

.show-desktop {
  display: block;
}

@media screen and (max-width:768px) {
  .show-desktop {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .side-by-side figcaption {
    padding: var(--xxs) var(--sm) var(--md);
  }

  .side-by-side {
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    font-size: 32px;
    padding: 16px;
  }

  h2 {
    font-size: 24px
  }

  .grid1 {
    display: block;
  }

  .grid2 {
    display: block;
  }

  .side-by-side {
    display: block;
  }

  .grid1 .grid-image-1 {
    padding-bottom: 15px
  }

  .grid1 .grid-image-2 {
    padding-bottom: 15px
  }

  .grid1 .grid-image-3 {
    padding-bottom: 15px
  }

  .grid1 .grid-image-4 {
    padding-bottom: 15px
  }

  .grid2 .grid-image-1 {
    padding-bottom: 15px
  }

  .grid2 .grid-image-2 {
    padding-bottom: 15px
  }

  .grid2 .grid-image-3 {
    padding-bottom: 15px
  }

  .grid2 .grid-image-4 {
    padding-bottom: 15px
  }

  .grid1 .caption {
    padding: 0
  }

  .grid2 .caption {
    padding: 0
  }
}

.helper {
  /* comment out next line to get visual help with media queries while you code */
  display: none !important;

  width: 60px;
  height: 60px;
  background-color: red;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helper::after {
  content: 'XS';
  color: white;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* use these for responsive design — you can set different styles based on how wide the screen is */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .helper {
    background-color: orange;
  }

  .helper::after {
    content: 'S';
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    /* adjust header image positioning for larger devices if needed */
    /* you can also change the header image for mobile here */
    /* background-position: 50% 50%; */
  }

  .helper {
    background-color: yellow;
  }

  .helper::after {
    content: 'M';
    color: black;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .helper {
    background-color: green;
  }

  .helper::after {
    content: 'L';
    color: white;
  }

  .show-mobile {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .helper {
    background-color: blue;
  }

  .helper::after {
    content: 'XL';
  }
}