/*necessary style choices*/


.header-visual{
	background: url('https://s3.amazonaws.com/media.ids/62100_crosman01_webo.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 100vh;
    margin-top: 3.3%;
    background-attachment: scroll;
}

.dropcap{
		font-family: 'Roboto Slab', serif;
		float: left;
		font-size: 4em;
		line-height: .8em;
		margin-top: 0.04em;
		margin-right: .1em;
		padding: 0;
	}

.show-mobile {
	display: block;
}

.show-desktop {
	display: none;
}


.nomarg {
		margin: 0em;
}

#chart1, {
		min-width: 100%;
		height:400px;
        margin:0 auto;
        margin-top:5.0em;
	    }

	
.blockquote-reverse{
	margin-top:40.0em;
}

/*sidebar*/
	/*.pulledquote {
		color: #5996AD;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	.sidebar .pulledquote{
		margin-top: -1.5em;

	}*/

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:640px) { 
.show-desktop {
		display: block;
}

.show-mobile {
		display: none;
}

}

.blockquote-reverse{
	margin-top:1.0em;
}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:960px) { 

.blockquote-reverse-1{
	margin-top:2.0em;
}

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:960px) {
.header-visual{
	background: url('https://s3.amazonaws.com/media.ids/62100_crosman01_webo.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 100vh;
    margin-top: 3.3%;
    background-attachment: scroll;
}


.blockquote-reverse-1{
	margin-top:37.0em;
}	


 }
