/* 
    SET YOUR STYLES IN THIS FILE
    For help, see the style.css documentation: https://www.notion.so/style-css-cac459cc9c384da08f561394bcee4cbf
*/


/* FONTS */
/* add any @import statements for novelty fonts you want to use here ↓ */


@font-face {
    font-family: 'scoreboard';
    src: url('../scoreboard.ttf');
}

#scoreboard {
  font-family: "scoreboard", sans-serif;
  color: red;
  font-size: 80px;
  position: fixed;
  right: .5em;
  padding: .1em;
  top: 100px;
  background-color: black;
  width: 2em;
  text-align: right;
  border: .1em solid #990000;
  border-radius: .1em;
}



/* COLORS */
:root {
  /* --mycolor: #your color here; */
  --idsred: #990000;
  --darkgray: rgb(80, 80, 80);
}

/* Overriding so that nav always shows */
/* nav ul {
  background-color: black;
}

li.logo span {
  display: block;
} */

header {
  /* add header image below */
  /* can use a file path before the photo is uploaded to ceo */
  background-image: linear-gradient(0deg, #ffffffCD, #ffffffCD), url("https://s3.amazonaws.com/snwceomedia/ids/192e399d-19ca-44b7-bfc6-2a13d44eec86.original.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* adjusts image placement, can also be set as percentages (ex. 50% 50%) */
  background-position: center center;
}

/* 
  SET ANY MORE STYLES YOU WANT BELOW
  Be sure to delete empty declarations
*/

/* 
TYPOGRAPHY
*/
h1 {
  /* top headline */

}

h2 {
  /* second headline */

}

.card-st {
  margin: 0;
	font-size: calc(1vw/.4);
  font-family: "Inter", sans-serif;

}



.countdowns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* Countdown and Subscribe */
.countdown-card {
	border-radius: var(--desktop-radius);
	padding: var(--card-pad);
	color: white;
	font-family: 'Inter', sans-serif;
	align-items: center;
	/* height: 193px; */
	margin: var(--card-pad);
	justify-content: space-between;
	/* max-width: 600px; */
}

.countdown-card h2,
  .subscribe-card h2 {
	color: white;
	font-size: calc(min(1vw, 900px) /.35);
  margin: 0;
  text-align: center;
}

@media (min-width: 1000px) {
  .countdown-card h2 {
    font-size: 29px;
  }  

  .card-st {
    font-size: 25px;
  }
}


/* Countdown Card */
.countdown-card {
  /* TODO: Better background */
	/* background-image: linear-gradient(150deg, #A33131, #83547f); */
	background-image: linear-gradient(150deg, #072332, #990000);
	background-image: linear-gradient(150deg, #6d0000, #fb9a69);
	gap: 15px;
  display: flex;
  flex-direction: column;
  /* max-width: 400px;; */
  /* margin: auto; */
}


#mens-countdown-card {
	background-image: linear-gradient(-30deg, #6d0000, #fb9a69);

}

.countdowns {
  max-width: 900px;
  margin: auto;
}

.timer-row {
	margin-right: var(--card-pad);
}

#play-me {
  position:fixed;
  /* background-color: white; */
  /* padding: 1em; */
  border-radius: 4px;
  /* border: 1px solid grey; */
  display: none;
  z-index: 101;
  font-family: "Inter", sans-serif;
  font-size: 2em;
  left: .5em;
  bottom: 1.5em;
  font-weight: 500;
  color: black;
}

#play-me img {
  width: 1.5em;
  transform: rotate(18deg);
  margin-left: 2em;;
  margin-top: 4px;
}

.timer-row .flex-c {
	justify-content: start;
	align-items: center;
	text-align: center;
}

.timer-row .flex-c p {
	margin: 0px;
}

.countdown-text {
	font-size: 35px;
	font-weight: bold;
  font-family: "scoreboard", sans-serif;
}

.countdown-label {
	font-size: 20px;
	font-weight: bold;
  font-family: "Inter", sans-serif;
}

.countdown-num {
	width: 3em;
	gap: 0;
}


/* 
.bylines {
  text-align: left;
  margin-top: 2em;
}

.headline-container h1 {
  color: black;
  text-shadow: none;
} */

h3 {
  /* section header */

}

#basketball {
  position: fixed;
  width: calc(100px / 1.5);
  height: calc(100px / 1.5);
  border-radius: calc(50px / 1.5);
  /* background-color: orange; */
  background-image: url("../assets/ball_cropped.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* TODO: Rotate is js */
  /* transform: rotate(180deg);  */
  z-index: 100;
  bottom: 0;
  left: 0;

  cursor: pointer;
}

#hoop-tmp {
  position: fixed;
  height: calc(2 * 240px);
  width: calc(2 * 123px);
  background-image: url("../assets/hoop_cropped.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
}

/* Helpers for hitbox */
#hoop {
  position: fixed;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: black;
  right: 70px;
  bottom: 270px;
  z-index: 100;
}

#backboard {
  position: fixed;
  width: 2px;
  height: 260px;
  background-color: black;
  z-index: 100;
  bottom: 160px;
  right: 100px;
}

.dropcap:first-letter {
  /* change the font/style of the dropcap if you wish to use them */

}

/* 
media queries helper
*/
.helper {
  /* comment out next line to get visual help with media queries while you code */
  display: none !important;

  width: 60px;
  height: 60px;
  background-color: red;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helper::after {
  content: 'XS';
  color: white;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1200px) {
  #hoop-tmp {
    height: calc(1.4 * 240px);
    width: calc(1.4 * 123px);
    bottom: 20vh;
  }



  #basketball {
    /* display: none; */
  }
}

@media (max-width: 992px) {
  #hoop-tmp {
    position: absolute;
    top: 10vh;
  }

 
}

@media (max-width: 768px) {
  #hoop-tmp {
    /* height: calc(1 * 240px); */
    /* width: calc(1 * 123px); */
    position: absolute;
    top: 10vh;
    z-index: 1;
  }

  #bylines {
    z-index: 12;
    position: relative;
  }
}

@media (max-width: 576px) {
  #hoop-tmp {
    height: calc(1 * 240px);
    width: calc(1 * 123px);
    position: absolute;
    top: 20vh;
  }
}

/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* use these for responsive design — you can set different styles based on how wide the screen is */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	.helper {
		background-color: orange;
	}

	.helper::after {
		content: 'S';
	}

	.countdowns {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	}

	.countdown-card {
		padding: 0px;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.countdown-card h2 {
		font-size: calc(1vw / .17)
				   
	}

	.card-st {
		font-size: calc(1vw / .24);
	}

	.no-mobile {
		display: none !important;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    /* adjust header image positioning for larger devices if needed */
    /* you can also change the header image for mobile here */
    /* background-position: 50% 50%; */
  }

  .helper {
    background-color: yellow;
  }

  .helper::after {
    content: 'M';
    color: black;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .helper {
    background-color: green;
  }

  .helper::after {
    content: 'L';
    color: white;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .helper {
    background-color: blue;
  }

  .helper::after {
    content: 'XL';
  }
}
