/*Bootstrap is mobile first, so media queries at the bottom apply to larger screens.
Assume anything not under a media query is for .col-xs */

/*General html*/
	body{
		background-color:#FFF;
	}

/*Fonts and icons*/
	/*if you want to add a different headline font let us know.*/
	h2, h3, h4, h5{
		font-family: 'Lato', sans-serif;
		color: #4b4b4b;
		margin-top: 0em;

	}

	/*use h1 for headlines*/
	h1{
		font-family: 'Roboto Slab', serif;
		font-size: 4.5em;
		line-height: 1.2;
		letter-spacing: .05em;
		font-weight: 900;
		margin-bottom: 0em;
		margin-top: .1em;
		text-align: left;
	}

	/*h2 is the italicized subhead.*/
	h2{
		font-size: 1.8em;
		line-height: 1.3em;
/*		color: #939393;
*/		margin-bottom: 2em;
		font-weight: 300;
		text-align:left;
	}
	
	h3{
		font-size: 2em;
	}

	h4{
		font-weight: bold;
	}

	h5{
		font-style: normal;
		font-size: 1.2em;

	}
	
	/*h6 is used for bylines*/
	h6{
		font-family: 'Lora', serif;
		font-size: 16px;
		line-height: 1.5em;

		
	}

	.by{
		font-weight: bold;
	}



	/*We're never gonna change body copy though*/
	p, i, caption {
		font-family: 'Lora', serif;
		color: #4b4b4b;
	}

	

	p{
		font-size: 16px;
		line-height: 1.8;
		padding-bottom: 1em;
		float:;
	}

	figcaption{
		font-weight: 300;
		font-size: .8em;
		line-height: 1.4em;
		margin-top: .5em;
		margin-bottom: 1.5em;
	}



	
	/*if you want to change the color of icons throughout the article feel free, but create
	a new class name so the navbar icons stay the same color. */

	.fa-twitter {
	  color: white;
	  padding-right: .2em;
	  font-size: 1.6em;
	}

	.fa-facebook {
	  color: white;
	  padding-right: .15em;
	  font-size: 1.6em;
	}

/*Links*/

/*media*/

	audio {
	float: right;
	width: 100%;
	}
	
	figure{
		width: 10%;
		margin-top: 0em;
		margin-bottom: 1.5em;
	}

	figure > img{
		width: 100%;
	}

	figure > em {
		font-size: .8em;
		margin-bottom: .5em;
		width: 100%;
		text-align: right;
		float: right;
	}

	.pulledquote p{
		padding: 0;
		margin: 0;
		margin-top: .5em;
	}


	.pulledquote{
		border-left: solid 10px;
		padding-left: 20px;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		width: 75%;
	}

	.sidebar > .pulledquote{
		margin-top: 100px;
	}

	
	#carousel-example-generic{
		margin-top: 1em;
		margin-bottom: 1em;
	}

	

br {
	margin-top: 3em;
	margin-bottom: 3em;
}



hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
	border-color: #d7d7d7;
	border-width: .1em;
}

.inline-narrow {
		width: 100%;
		height: auto;
		float: left;
	}

.super-narrow {
		width: 100%;
		height: auto;
		float: left;
	}

/*navigation*/
	/*Don't change anything here unless you run into problems with spacing on section links*/

@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar {
	margin-right: 0;
	margin-left: 0;
	background-color: #c4161c;
	height: 100%;
	position: fixed;
	max-width: 200px;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}






	.navbar-brand {
	  font-size: 32px;
	  color: white;
	  font-weight: bolder;
	  padding-left: .5em;
	}

	
	
	#bs-example-navbar-collapse-1 ul{
		font-family: 'lato', serif;
		text-align: center;
		margin-top: 0 auto;
	}

	.navbar-headline-mobile {
		font-family: 'lato', serif;
		text-decoration: none;
		text-align: center;
		margin-left: 2em;
		width: 500px;
		line-height: 50px;
	}

	#bs-example-navbar-collapse-1 li .nav-headline{
		font-family: 'lato', serif;
		text-decoration: none;
		text-align: center;
		color: white;
		margin-left: 1em;
		margin-right: 0em;
		line-height: 55px;

	}

/*intro row */
	.byline{
		display: none;
	}

	.byline-mobile{
		margin-top: -1em;
		margin-bottom: 2em;

	}

	.headline{
	}

	.led{
		margin-top: 1em;
	}

	.intro-caption-mobile{
		margin-top: 5px;
	}

/*inline 6 columns*/
	
/*sidebar 4 columns*/
	.sidebar img{
		width: 100%;
	}

	.sidebar .chart {
		margin-top: 0em;
	}

	.sidebar  h6{
		margin-top: 0em;
	}

	.sidebar-info{
		/*border-bottom-style: solid;
		border-top-style: solid;
		border-color: #d7d7d7;
		border-width: .1em;*/
	
	}

	.sidebar-related{

	}

	/*.sidebar > figure{
		margin-top: 0px;
	}*/
	

	
	


/*contributors*/
	.contributors{
		margin-bottom: 2em;
	}

	.contributors p{
		margin-top: -.6em;
		margin-bottom: -1em;
	}

	.contributors h3{
		margin-bottom: 1em;
	}

	.contributors .fill{
		display: none;
	}

/*footer*/
	footer{
		height: 5em;
		background-color: #101010;
		color: white;
		padding: 1em;
		text-align: right;
		
	}

/*types of media*/


/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 600px and up) */
@media (min-width:600px) { 
/*Navbar*/
	.navbar-headline-mobile {
		display: none;
	}
	
		figure{
		width: 100%;
		margin-top: 0em;
		margin-bottom: 1.5em;
	}
	
	.inline-narrow {
		width: 100%;
		height: auto;
		float: left;
		margin-left: 1em;
	}

}


/* Medium devices (desktops, 960px and up) */
@media (min-width:960px) { 
/*navbar*/
	.navbar-headline-mobile {
		display: none;
	}

/*Intro and header */
	.byline-mobile{
		display: none;
	}

	.byline{
		display: inline;
		margin-top: 0em;
		padding-top: 0em;
	}

/*article*/

	.inline-wide {
		width: 125%;
		height: auto;
	}

	.inline-narrow{
		width: 45%;
		height: auto;
		float: left;
		margin-right: 1em;
	}

.super-narrow {
		width: 25%;
		height: auto;
		float: left;
		margin:.5em;
	}

/*contributors*/
	.contributors .fill{
		display: inline;
		visibility: hidden;
	}


 }




