/*#stock {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#stock img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}*/

/*#stock {
	position: fixed;
 	min-width: 50%;
  	min-height: 50%;
  	margin-top: 0;
  }*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* FONTS */

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

p, i, caption {
  font-family: 'Merriweather', serif;
}

.fa-twitter {
  color: white;
  padding-top: .4em;
  padding-right: .2em;
  font-size: 25px;
}

.fa-facebook {
  color: white;
  padding-right: .15em;
  font-size: 25px;
}

.navbar {
 position: fixed;
 top:0;
 right: 0;
 left: 0;
 z-index: 1030;
}

.navbar-inverse {
  margin-bottom: 0 !important;
  
}

 .navbar-brand {
  font-size: 24px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  padding-left: 1em;

}



header { 
  background: url('../images/websiteHeaderNone.jpg'); 
  height: 350px;
}

#headline h1 {
  text-align: center;
  font-size: 55px;
  padding-top: 5.2em;
  padding-left: .1em;
  padding-right: .1em;
  margin-top: 0;
  opacity: 0;
}

#byline h4 {
  text-align: center;
  font-size: 18px;
  opacity: 0;

}

header h2 {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

#head-mobile {
  color: black;
  text-align: center;
  font-size: 50px;
}

#by-mobile {
  text-align: center;
  color: black;
  font-size: 18px;
  padding-top: 1em;
}

#tagline h2 {
  height: 0;
  opacity: 0;

}

#taglineMobile {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

 h3 {
  margin-bottom: 1em;
  margin-top: 2em;
 }

.col-md-8 {
 padding-right: 3em; 
}

p {
  font-size: 15px;
  margin-bottom: 1.3em;
}

.container {
  margin-top: 2em;
}

 .dropcap {
   float: left;
  font-size: 60px;
  line-height: 0.5;
  margin: 0.205em 0.153em 0 0;
  margin-bottom: .5em;
}

img {
  width: 100%;
}

#starThings {
  text-align:center;
}
/* SIDE COLUMN */

#constance {
  height: 0;
}

#constanceCaption {
  height: 0;
}

#constanceMobile {
  margin-top: 1em;
  opacity: 1.0;
}

#constanceCaptionMobile {
  opacity: 1.0; 
  margin-bottom: 1.5em;
}

#pullOutThree {
  margin-top: 4em;
}

#Stockton {
  height: 0;
}

#stocktonMobile {
  margin-top: 1em;
  opacity: 1.0;
}

#stocktonCaptionMobile {
  opacity: 1.0; 
  margin-bottom: 1.5em;
}

#Meno {
  width: 100%;
  padding-top: 5em; 
}

#pullOutOne {
  margin-top: 35em;
}

#Braden {
  height: 0;
}

#bradenMobile {
  margin-top: 1em;
  opacity: 1.0;
}

#bradenCaptionMobile {
  opacity: 1.0; 
  margin-bottom: 1.5em;
}

#Grogg {
  height: 0;
}

#groggMobile {
  margin-top: 1em;
  opacity: 1.0;
}

#groggCaptionMobile {
  opacity: 1.0; 
  margin-bottom: 1.5em;
}

#pullOutTwo {
  margin-top: 18em;
}

#Eichberg {
  height: 0;
}

#eichbergMobile {
  margin-top: 1em;
  opacity: 1.0; 
}

#eichbergCaptionMobile {
  opacity: 1.0; 
  margin-bottom: 1.5em;
}


#pullOutFour {
  margin-top: 70em;
}

#Freudinger {
  width: 100%;
  padding-top: 15em; 
}

#freudingerMobile {
  margin-top: 1em;
  opacity: 1.0;   
}

#freudingerCaptionMobile {
  opacity: 1.0; 
  margin-bottom: 1.5em;
}

#Hara {
  width: 100%;
  padding-top: 15em; 
}

#haraMobile {
  margin-top: 1em;
  opacity: 1.0;
}

#haraCaptionMobile {
  opacity: 1.0; 
  margin-bottom: 1.5em;
}



h5 {
  font-size: 24px;
  border-left: 10px solid;
  border-color: #436983;
  padding-left: 1em;
  margin-top: 5em;
}

h5 .attribute {
  font-size: 15px;
}



footer {
  background: black;
    height: 50px;

}

.col-md-3 {
  opacity: 0;
  height: 0;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: 450px) { 

.col-md-3 {
  opacity: 1.0;
  height: 0;
}

#taglineMobile {
  height: 0;
  padding: 0;
  margin: 0;
  border-bottom: none;
  opacity: 0;
}

header { 
  background: url('../images/websiteHeaderMobile.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
}

#head-mobile {
  color: black;
  text-align: center;
  font-size: 1px;
  opacity: 0;
  height: 0;
}

#by-mobile {
  text-align: center;
  color: black;
  font-size: 1px;
  opacity: 0;
  height: 0;
}

#headline h1 {
  text-align: center;
  font-size: 70px;
  padding-top: 3.2em;
  margin-top: 0;
  opacity: 1.0;

}

header h2 {
  font-size: 25px;
  padding-left: 9em;
  padding-right: 9em;
  margin-bottom: 0;
  border: none;
  opacity: 1.0;
  height: 100%;
}

#taglineMobile h2 {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;

}

#byline h4 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 18px;
  opacity: 1.0;

}


h2 {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.dropcap {
   float: left;
  font-size: 60px;
  line-height: 0.5;
  margin: 0.205em 0.153em 0 0;

  }

 #click {
  font-size: 12px;
 }
/*SIDE COLUMN */

figcaption {
  width: 100%;
  opacity: 1.0;
  margin-top: 0.3em;
  font-size: 13px; 
}

i {
  margin-top: .2em;
}

#constance {
  height: 100%;
  padding-top: 4em;
  opacity: 1.0;
}

#constanceCaption {
  width: 100%;
  opacity: 1.0; 
}


#constanceMobile {
  height: 0;
  margin: 0;
  padding: 0;
}

#constanceCaptionMobile {
  height: 0; 
  margin: 0;
  padding: 0;
  opacity: 0;
}

#pullOutOne {
  margin-top: 10em;
}

#Stockton {
  height: 100%;
  padding-top: 33em; 
}

#stocktonMobile {
  height: 0;
  margin: 0;
  padding: 0;
}

#stocktonCaptionMobile {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#Grogg {
  height: 100%;
  padding-top: 79em; 
}

#groggMobile {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#groggCaptionMobile {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#pullOutTwo {
  margin-top: 13em;
}

#Braden {
  height: 100%;
  padding-top: 50em;
}

#bradenMobile {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#bradenCaptionMobile {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#Eichberg {
  height: 100%;
  padding-top: 23em; 
}

#eichbergMobile {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#eichbergCaptionMobile {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#Freudinger {
  height: 100%;
  padding-top: 5em;
}

#freudingerMobile {
 height: 0;
  opacity: 0;
  margin: 0;
  padding: 0; 
}

#freudingerCaptionMobile {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#Hara {
  width: 100%;
  padding-top: 5em; 
}

#haraMobile {
   height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#haraCaptionMobile {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#resourcesCaps {
  padding-top: 40em;
  height: 100%;
}

 #resourcesCAPS {
  padding-top: 40em;
  height: 100%;
}

#credit {
  padding-top: 5em;
  font-size: 11px;
  text-align: right;
 }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

.col-md-3 {
  opacity: 1.0;
  height: 100%;
}

header { 
  background: url('../images/websiteHeaderRight.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 678px;
}

#headline h1 {
  text-align: right;
  font-size: 75px;
  padding-top: 3.25em;
  padding-right: 1.4em;
  margin-top: 0;
  opacity: 1.0;

}

#head-mobile {
  color: black;
  text-align: center;
  font-size: 1px;
  opacity: 0;
  height: 0;
}

#by-mobile {
  text-align: center;
  color: black;
  font-size: 1px;
  opacity: 0;
  height: 0;
}

header h2 {
  font-size: 25px;
  text-align: center;
  padding-right: 4.3em;
  min-width: 80px;
  margin-left: 20em;
  margin-bottom: 0;
  border: none;
}

#tagline h2 {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;

}

#byline h4 {
  text-align: right;
  font-size: 18px;
  padding-right: 16em;
  opacity: 1.0;

}

h2 {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.dropcap {
   float: left;
  font-size: 60px;
  line-height: 0.5;
  margin: 0.205em 0.153em 0 0;

  }

}

/* SIDE COLUMN */
figcaption {
  width: 100%;
  opacity: 1.0;
  margin-top: 0.3em;
  font-size: 15px; 
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) { 

.col-md-3 {
  opacity: 1.0;
  height: 100%;
}

header { 
  background: url('../images/websiteHeaderRight.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 930px;
}


#head-mobile {
  color: white;
  text-align: right;
  font-size: 75px;
  margin-top: 0;
  opacity: 0;
  height: 0;
}

#by-mobile {
  text-align: right;
  color: white;
  font-size: 18px;
  opacity: 0;
  height: 0;
}


#headline h1 {
  font-size: 80px;
  padding-top: 4.5em;
  opacity: 1.0;
  padding-right: 1em;
}


#tagline h2 {
  text-align: center;
  font-size: 30px;
  padding-left: 44em;
  padding-right: 4em;
  margin-top: 1em;
  margin-bottom: 1.3em;
  border: none;
  font-weight: 300;
  opacity: 1.0;
  height: 100%;

}

#byline h4 {
  text-align: center;
  font-size: 22px;
  padding-left: 54em;
  margin-top: 0;
  padding-right: 0;
  opacity: 1.0;
  font-weight: 300;

}

h2 {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.dropcap {
   float: left;
  font-size: 60px;
  line-height: 0.5;
  margin: 0.205em 0.153em 0 0;

  }

  /* SIDE COLUMN */
}

