/* Header | Navbar, Headline, Subhead, Bylines */

/* Change selection highlight color */
::-moz-selection { /* Code for Firefox */
color: white;
background: black;
}

::selection {
color: white;
background: black;
}

	.header {
		color: black;
		height: 100vh;
		background-size: cover;
		background-color: black;
		padding-bottom: 15px;
		transition: 1s all;
		background-position: center;
		overflow: visible;
		display: flex;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-align-items: center;
  	align-items: center;
  	-webkit-justify-content: center;
  	justify-content: center;
	}

	/* @keyframes bg-zoom {
  0%   { transform: scale(1); }
  5%  { transform: scale(1.02); }
  33% { transform: scale(1.05); }
	50% { transform: scale(1.07);}
	75% { transform: scale(1.06);}
	100% { transform: scale(1);}
} */

	.table_pull-out	{
		color: white;
		background-color: black;
		font-weight: 500;
	}

	tr	{
		font-family: 'Inter', sans-serif;
		font-size: 0.9rem;
		font-weight: 300;
		border-bottom: 0.5px solid #dbdbdb;
	}

	td	{
		padding-left: 7px;
	}

	th	{
		font-family: 'Inter', sans-serif;
		font-size: 0.9rem;
		font-weight: 700;
		padding-left: 7px;
		color: black;
		border-bottom: 2px solid black;
	}

	table	{
		padding-left: 2px;
	}

	.header-secondary {
		color: white;
		height: 75vh;
		background-size: cover;
		background-color: black;
		padding-bottom: 15px;
		background-position: center;
	}
	@media (min-width: 768px) {
		.transparentnavbar {
			background-color: transparent !important;
			border-color:transparent;
			background-image:none;
			box-shadow:none;
			-webkit-transition: background .5s; /* For Safari 3.1 to 6.0 */
		  	transition: background .5s;
		}
	}
	@media (max-width: 767px) {
		.transparentnavbar {
			background-color: black !important;
			border-color:transparent;
			background-image:none;
			box-shadow:none;
			-webkit-transition: background .5s; /* For Safari 3.1 to 6.0 */
		  	transition: background .5s;
		}
	}
	.dropdown-toggle::after {
	    display:none;
	}

	.blackbg {
		background-color: black !important;
		border-color:transparent;
		background-image:none;
		box-shadow:none;
	}

	.nav-link {
		color: white !important;
		font-size: 16px;
		font-family: 'Lato', sans-serif;
	}

	.navbar-toggler {
		border: none !important;
	}

	.hithere {
		font-size: 20px;
		color: white;
		margin-bottom: 0;
		font-family: 'Lato', sans-serif;
	}

	.title {
		text-align: center;
	}

	.container {
		padding: 40px;
		background-color: #F0F0F0;
		margin: 0 auto;
		margin-top: 2em;
	}

	h4 {
		font-size: 25px;
		padding-top: 0;
		margin-top: 0;
		padding-bottom: 0.5em;
		font-family: 'Playfair Display', 'PT Serif', serif;
	}

	@media (min-width: 768px) {
		.headline {
			font-size: 450%;
			font-family: 'Playfair Display', 'PT Serif', serif;
			font-weight: 700;
			font-style: normal;
		}


		.headline-box {
			border-bottom: 8px solid white;

		}
	}

	@media (max-width: 767px) {
		.headline {
			font-size: 450%;
			font-family: 'Playfair Display', 'PT Serif', serif;
			font-weight: 700;
			font-style: normal;
		}
		.subheadline {
			font-size: 25px;
			line-height: 35px;
			font-family: 'Playfair Display', 'PT Serif', serif;
			font-style: normal;
			font-weight: 500;
		}
		}
		.headline-box {
			border-bottom: 8px solid white;

		}


	.fade-in {
		animation: fadeIn ease 1s;
		-webkit-animation: fadeIn ease 1s;
		-moz-animation: fadeIn ease 1s;
		-o-animation: fadeIn ease 1s;
		-ms-animation: fadeIn ease 1s;
	}
	  @keyframes fadeIn {
		0% {
		  opacity:0;
		}
		100% {
		  opacity:1;
		}
	  }
	  @-moz-keyframes fadeIn {
		0% {
		  opacity:0;
		}
		100% {
		  opacity:1;
		}
	  }
	  @-webkit-keyframes fadeIn {
		0% {
		  opacity:0;
		}
		100% {
		  opacity:1;
		}
	  }
	  @-o-keyframes fadeIn {
		0% {
		  opacity:0;
		}
		100% {
		  opacity:1;
		}
	  }
	  @-ms-keyframes fadeIn {
		0% {
		  opacity:0;
		}
		100% {
		  opacity:1;
	  }
	}
	.fade-in1 {
		animation: fadeIn ease 2s;
		-webkit-animation: fadeIn ease 2s;
		-moz-animation: fadeIn ease 2s;
		-o-animation: fadeIn ease 2s;
		-ms-animation: fadeIn ease 2s;
	}
	  @keyframes fadeIn {
		0% {
		  opacity:0;
		}
		80% {
			opacity:0;
		  }
		100% {
		  opacity:1;
		}
	  }
	  @-moz-keyframes fadeIn {
		0% {
		  opacity:0;
		}
		80% {
			opacity:0;
		  }
		100% {
		  opacity:1;
		}
	  }
	  @-webkit-keyframes fadeIn {
		0% {
		  opacity:0;
		}
		80% {
			opacity:0;
		  }
		100% {
		  opacity:1;
		}
	  }
	  @-o-keyframes fadeIn {
		0% {
		  opacity:0;
		}
		80% {
			opacity:0;
		  }
		100% {
		  opacity:1;
		}
	  }
	  @-ms-keyframes fadeIn {
		0% {
		  opacity:0;
		}
		80% {
			opacity:0;
		  }
		100% {
		  opacity:1;
	  }
	}



@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

	.byline {
		font-family: 'Inter', sans-serif;
		font-weight: 500;
		margin-bottom: 6px;
		font-size: 14px;
	}

	.subline {
		margin-top: 0;
		font-size: 11.5px;
		line-height: 15px;
		margin-bottom: 5px;
	}

	.subline-link {
		font-family: 'Inter', sans-serif;
		font-weight: 400;
		color: black;
		transition: .2s;
	}

	.subheadline {
		color: black;
		margin-top: 2em;
	}

	.nav-before {
		color: transparent;
		padding-left: 10px;
		font-size: 16px;
		font-family: 'Lato', sans-serif;
		transition: 0.2s;
	}

	.nav-title {
		color: white;
		padding-left: 15px;
		font-size: 16px;
		margin-top: 1px;
		font-family: 'Lato', sans-serif;
	}

	.byline-link {
		font-family: 'Inter', sans-serif;
		font-weight: 600;
		color: black;
		transition: .2s;
		border-bottom: 1px black solid;
	}

	.byline-link:hover {
		color: black;
		border-bottom: 1px #EDEBEB solid;
		text-decoration: none;
	}

/* Body | Body copy, Images, Components */

	.body {
		padding-top: 30px;
		padding-bottom: 15px;
		width: 100vw;
	}

	a.story-link {
		text-decoration: none;
		color: black !important;
		border-bottom: 2px solid black;
		transition: .2s;
	}

	a.story-link:hover {
		text-decoration: none;
		color: black !important;
		border-bottom: 2px solid #EDEBEB;
	}

	.story {
		font-family: 'PT Serif', serif;
		font-weight: 500;
		font-style: normal;
		text-align: left;
		font-size: 17px;
		line-height: 26px;
	}

	.email	{
		/* display: inline-block; */
		border-radius: 4px;
		border: 1px solid black;
		padding: 1rem;
		width: 140%;
		margin-left: -20%;
		margin-right: -20%;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.explainer-hed	{
		font-family: 'Inter', sans-serif;
		font-size: 1.1rem;
		font-weight: 700;
	}

  .pub  {
    /* margin-top: 2px; */
    margin-bottom: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
  }

	.explainer	{
		font-family: 'Inter', sans-serif;
		font-size: 0.9rem;
		font-weight: 400;
	}

  .hed  {
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
  }

  .hed:hover  {
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
  }

  

	@media (max-width: 768px) {
		.email	{
			width: 96%;
			margin-left: 2%;
			margin-right: 2%;
		}

		.mobile-full	{
			height: 100vh;
			background-size: cover;
		}
	}



.email_subject	{
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
}

.email_tofrom	{
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 0.95rem;
	margin-bottom: 0px;
}

.email_body	{
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 0.9rem;
	margin-top: 15px;
}


.highlight{
    background-size: 200% auto;
    padding: 2px;
		line-height: 26px;
    color: black;
    background-position: 0% 0;
    animation-duration: 3s;
    animation-delay: 3s;
		background-image: linear-gradient(to right,black 50%,white 50%);
    animation-fill-mode: forwards;
  }

  .highlight.active{
     animation-name: highlight;
		 color: black;
  }


  @keyframes highlight {
      from {background-position: 0% 0;}
      to {background-position: -100% 0;}
  }

  .highlight2{
    background-size: 200% auto;
    padding: 2px;
		line-height: 26px;
    color: black;
    animation-duration: 3s;
    animation-delay: 6s;
		background-image: linear-gradient(to right,black 50%,white 50%);
    animation-fill-mode: forwards;
  }

  .highlight2.active{
     animation-name: highlight2;
		 color: black;
  }


  @keyframes highlight2 {
      from {background-position: 0% 0;}
      to {background-position: -100% 0;}
  }


	.tl_date	{
		font-family: 'Inter', sans-serif;
		font-weight: 600;
		color: black;
		font-size: 1.3rem;
		margin-top: 20px;
	}

	.tl_explainer	{
		font-family: 'Inter', sans-serif;
		font-weight: 400;
		color: black;
		font-size: 1rem;
		margin-top: -15px;
		margin-bottom: 10px;
	}

	.tl_line	{
		margin-left: 7%;
		border-left: 2px solid black;
		padding-bottom: 20px;
	}

	.caption {
		font-family: 'Inter', sans-serif;
		font-weight: 400;
		margin-top: 2px;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 20px;
	}

	.credit {
		font-size: 12px;
		font-family: sans-serif;
		text-align: right;
		margin-bottom: -6px;
		padding-bottom: 0;
		margin-top: -2px;
		text-transform: uppercase;
		font-family: 'Inter', sans-serif;
		font-weight: 400;
	}

	.ad {
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
		font-family: 'Lato';
	}

/* Directory template | Big table of contents | See hoemcoming guide */

	.bignav {
		padding-top: 2%;
		padding-bottom: 0;
		text-align: left;
	}

	.bignavlink{
		color: black;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		padding-top: 30px;
	}

	.bignavlink:hover {
		color: black;
		text-decoration: none;
	}

	.image-fit-img {
		object-fit: cover;
	}

	.bignav-subhead {
		text-align: left;
		margin-top: 0;
	}
	.directory-entry {
		padding-top: 30px;
	}

	@media (max-width: 767px) {
		.directory-entry {
			padding-top: 45px;
		}
		.fade img {
			  -webkit-animation-name: fade;
		    -webkit-animation-iteration-count: 1;
		    -webkit-animation-duration: 5s;
		    animation-name: fade;
		    animation-iteration-count: 1;
		    animation-duration: 5s;
		}

		@-webkit-keyframes fade {
		    0% {opacity: 0;}
		    20% {opacity: 0;}
		    100% {opacity: 1;}
		}
		@keyframes fade {
		  0% {opacity: 0;}
		  20% {opacity: 0;}
		    100% {opacity: 1;}
		}
	}

/* Footer | Donate link, Copyright notice */

	.support-us {
		padding-top: 40px;
		color: black;
		background-color: #EDEBEB;
		font-size: 16px;
		padding-bottom: 30px;
		margin-top: 45px;
		font-family: 'Lato', sans-serif;
	}

	.footer {
		padding-top: 40px;
		color: #EDEBEB;
		background-color: black;
		font-size: 14px;
		padding-bottom: 30px;
		margin-bottom: 0;
		font-family: 'Lato', sans-serif;
	}

	a.backto {
		text-decoration: none;
		color: white !important;
		border-bottom: 2px solid white;
		transition: 0.2s;
	}

	a.backto:hover {
		text-decoration: none;
		color: white !important;
		border-bottom: 2px solid black;
	}

.ad-caption {
  text-align: center; font-size: 12px; padding-top: 15px; font-family: 'Lato', sans-serif; text-transform: uppercase;
}
.ad-block {
  margin-top: 10px; padding-bottom: 20px;
  margin-bottom: 20px;
}
.ad-code {
  padding-bottom: 30px;
}
.section-break {
	letter-spacing: 25px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-width: 400px) {
    h1 {
		text-align: center;
		font-size: 40px;
		font-weight: 900;
		color: white;
	}
	h2 { 
		text-align: center;
		font-size: 50px;
		font-weight: 900;
		color: white;
	}
	h5 {
		text-align: center;
		font-size: 30px;
		font-weight: 900;
		color: white;
	}
	.subheadline {
		font-size: 20px;
		line-height: 35px;
		font-family: 'Playfair Display', 'PT Serif', serif;
		font-style: normal;
		font-weight: 500;
		padding-bottom: 7%;
	}
	.cont {
		padding: 10px;
	}
	.cont2 {
		padding: 10px;
		text-align: center;
	}
}
@media (min-width: 700px) {
	h1 {
		text-align: center;
		font-size: 50px;
		font-weight: 900;
		color: white;
	}
	h2 { 
		text-align: center;
		font-size: 50px;
		font-weight: 900;
		color: white;
		
	}
	.subheadline {
		font-size: 25px;
		line-height: 39px;
		font-family: 'Playfair Display', 'PT Serif', serif;
		font-style: normal;
		font-weight: 500;
		padding-bottom: 7%;
	}
}

@media (min-width:600) {
	.container {
		width: 80%
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	h1 {
		text-align: center;
		font-size: 50px;
		font-weight: 900;
		color: white;
	}
	h2 { 
		text-align: right;
		text-align: center;
		font-size: 60px;
		font-weight: 900;
		color: white;
		
	}
	.subheadline {
		font-size: 30px;
		line-height: 45px;
		font-family: 'Playfair Display', 'PT Serif', serif;
		font-style: normal;
		font-weight: 500;
		padding-bottom: 7%;
	}
	.container {
		width: 60%
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}