/*necessary style choices*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header-visual{
	background: url('https://s3.amazonaws.com/media.ids/60806_busrideo.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 100vh;
    margin-top: 0%;
    background-attachment: scroll;
}

.cine{
	padding-bottom: 0px
}

#chapbreak{
	padding-top: 2.0em;
	padding-right: 0em;
}


.dropcap{
		font-family: 'Roboto Slab', serif;
		float: left;
		font-size: 5em;
		line-height: .8em;
		margin-top: 0.04em;
		margin-right: .1em;
		padding: 0;
	}

#map{
	height: 500px;
}

.graphic {
	padding: 15px;
}

#ids{
	width:60%;
}
	
/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:640px) { 

	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:960px) { 
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:960px) {
	.header-visual{
		background: url('https://s3.amazonaws.com/media.ids/60806_busrideo.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	    height: 100vh;
	    margin-top: 0%;
	    background-attachment: scroll;
}

	
 }
